<div th:fragment="coupable" th:with="coupableScenarios=${coupableScenarios}" id="coupableScenariosFragment">
	<div class="form-row" th:if="${#lists.size(coupableScenarios) > 0}">
		<div class="form-group col-md-4 mt-3">
			<label for="coupleScenario" th:text="#{scenario-management.associated-scenario}"></label>
			<h5 th:utext="#{scenario-management.associated-scenario-note}"></h5>
			<select name="coupleScenario" id="coupleScenario" class="form-control">
				<option th:value="0" th:text="#{scenario-management.associated-scenario-none}" selected></option>
				<option th:each="scenario : ${coupableScenarios}" th:data-narrative="${scenario.narrative.name}" th:data-lang="${scenario.lang}" th:value="${scenario.scenarioGroup}" th:text="${scenario.title}">
			</select>
		</div>
	</div>
</div>