<html>
	<body>
		<div th:fragment="content" th:with="visions=${visions}, missing=${missing}">
			<div class="row justify-content-center px-2">
				<div th:if="${firstLoad}" class="col-11 col-sm-6 col-md-4 col-lg-3 p-3">
					<form action="/vision" method="post" id="newVision">
						<input type="hidden" th:value="${scenarioId}" name="scenarioId" id="scenarioId">
					</form>
					
					<button class="btn btn-secondary newImageButton" form="newVision">
						<i class="fas fa-4x fa-plus newImageFA"></i>
						<div class="text-center small-h4 new-post-text" th:text="#{feed.new-post}"></div>
					</button>
				</div>
				<div th:each="vision : ${visions}" class="col-11 col-sm-6 col-md-4 col-lg-3 p-3 img-div">
					<button class="btn btn-primary" id="profileButton" th:form="@{'profile_'+ ${vision.user.entryNumber}}">
						<img th:src="${vision.user.img}" class="img img-responsive" id="profilePictureSmall">
					</button>
					<form action="/match" method="post" th:id="@{'inDepthForm'+ ${vision.idVision}}">
						<input type="hidden" th:value="${vision.idVision}" name="vision">
						<input type="hidden" th:value="${scenarioId}" id="scenarioId" name="scenarioId">
						<input type="hidden" value="true" id="goToInDepth" name="goToInDepth">
					</form>
					<form action="/profile" method="post" th:id="@{'profile_'+ ${vision.user.entryNumber}}">
						<input type="hidden" th:value="${vision.user.entryNumber}" name="userEntry">
						<input type="hidden" th:value="${scenarioId}" name="scenarioId">
						<input type="hidden" value="feed" name="from">
					</form>
					<img class="img-fluid rounded-lg" th:src="${vision.img}">
					<button th:if="${vision.showInDepth}" class="btn btn-primary" th:form="@{'inDepthForm' + ${vision.idVision}}">
						<div>
							<i class="fas fa-1x fa-puzzle-piece in-depth-icon"></i>
						</div>
					</button>
					<div class="tag-div kw-tags">
						<div class="d-flex justify-content-around">
							<div th:each="k : ${vision.keywordCollection}" th:text="${k.keyword.keyword}" class="colored-box ellipsis" th:title="${k.keyword.keyword}">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div th:if="${missing > 0}" class="row align-items-center">
				<button class="btn btn-primary btn-xl rounded-pill mt-3 mx-auto mb-5" id="load-more-button" th:text="#{feed.button-load}"></button>
			</div>
		</div>
	</body>
</html>