<html>
	<body>
		<div th:fragment="username" th:with="user=${user}" id="usernameFragment">
			<div>
				<div th:if="${user.cookie != user.username}" class="text-center my-1 font-weight-bold h2" id="username-text" th:text="${user.username}"></div>
				<div th:unless="${user.cookie != user.username}" class="text-center my-1 font-weight-bold h2" id="username-text" th:text="#{profile.username}"></div>
			</div>
			<hr/>
			<div th:if="${playedMatches != 0}" class="d-flex justify-content-center mt-3">
				<div class="col-12 col-sm-12 d-flex justify-content-center align-items-center my-3">
					<i class="fas fa-4x fa-list-ol mr-4 green"></i>
					<span class="font-weight-bold h2 mt-2 green" th:text="${position}"></span>
				</div>
			</div>
			<div th:if="${playedMatches != 0}" class="d-flex justify-content-center mt-3">
				<div class="col-12 col-sm-12 d-flex justify-content-center align-items-center my-3">
					<i class="fas fa-trophy fa-4x mr-4 yellow"></i>
					<span class="mr-1 font-weight-bold h2 mt-2 yellow" th:text="${points}"></span>
				</div>
			</div>
			<div th:if="${playedMatches != 0}" class="d-flex justify-content-center">
				<div class="col-12 col-sm-12 d-flex justify-content-center align-items-center my-3">
					<i class="fas fa-4x fa-gamepad mr-4 blue"></i>
					<span class="font-weight-bold h2 mt-2 blue" th:text="${playedMatches}"></span>
				</div>
			</div>
			<!-- <div th:unless="${playedMatches != 0}">
				<div class="font-weight-bold text-center my-1" th:text="#{profile.no-matches}"></div>
			</div>	 -->		
		</div>
		
		<div th:fragment="picture" th:with="user=${user}" id="pictureFragment" class="d-flex justify-content-center">
			<form th:if="${personal}" action="/updateProfilePicture" method="post" enctype="multipart/form-data" id="updateProfilePict">
				<input type="file" id="newProfilePicture" name="newProfilePicture" accept="image/*" required>
				<i th:if="${defaultPicture}" class="fas fa-4x fa-plus newImageFA"></i>
			</form>
			<div id="borderColor">
				<img th:if="${personal}" th:src="${user.img}" class="img img-responsive" th:classappend="${defaultPicture} ? opacity : no-opacity" id="profilePicture" draggable="false">
				<img th:unless="${personal}" th:src="${user.img}" class="img img-responsive" id="profilePicture" draggable="false">
			</div>
		</div>
		
	</body>
</html>