html, body {
  background-color: white;
  overflow-x: hidden;
  height: 100%;
}

.paired {
	margin: 0px;
}

h1, h2, h3, h4, h5, h6, p, label, a, button {
	color: #1F3B48;
	font-family: Arial, Helvetica, sans-serif !important;
}

span {
	font-family: Arial, Helvetica, sans-serif !important;
}

.inform {
	color: white !important;
}

.btn-xl {
	text-transform: uppercase;
	padding: 1rem 2rem;
	font-size: 1.2rem;
	font-weight: 700;
	letter-spacing: .1rem
}

.btn-lg {
	text-transform: uppercase;
	padding: 0.75rem 1.5rem;
	font-size: .9rem;
	font-weight: 700;
	letter-spacing: .1rem
}


.rounded-pill {
	border-radius: 5rem
}

.bg-primary {
  background-color: #4db8ff !important;
}

.btn-primary {
  background-color: #149cbc;
  border-color: #149cbc;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #149cbc !important;
  border-color: #149cbc !important;
}

.btn-primary:disabled {
  background-color: #149cbc !important;
  border-color: #149cbc !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(77, 184, 255, 0.5);
}

.small-h5 {
	font-size: 1em !important;
}

@media (max-width: 767px) and (max-device-width: 767px) {
    .small-h1 {
    	font-size: 2em !important;
    }
    
    .small-h4 {
    	font-size: 1em !important;
    }
    
    .btn-xl {
		text-transform: uppercase;
		padding: 0.75rem 1.5rem;
		font-size: 1rem;
		font-weight: 700;
		letter-spacing: .1rem
	}
}

@media (min-width: 768px) {
    .small-h1 {
    	font-size: 3em !important;
    }
    
    .small-h4 {
    	font-size: 1.5em !important;
    }
}

@media (min-width: 768px) and (max-width: 1280px) {
    .small-h1 {
    	font-size: 3em !important;
    }
    
    .small-h4 {
    	font-size: 1.5em !important;
    }
}

.fas-btn, .far-btn, .btn-text {
	color: #1F3B48 !important;
}

.icon-scenario {
	color: #149CBC !important;
}