.title-feed {
	text-align: center !important;
}

.introImg {
	width: 80%;
	height: auto;
	margin-left: 10%;
}

.newImageButton {
	width: 100%;
	padding: 0px;
	border: 0px;
	padding-top: 100%;
	background-color: #8FD0DA;
	border-radius: 3px;
	border-color: #1F3B48;
	position: relative;
}

.newImageFA {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#profileButton {
	left: 71px;
    background-color: Transparent;
    border-color: transparent;
}

#profileButton:focus, #profileButton:hover {
	background-color: Transparent !important;
    border-color: Transparent !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0) !important;
}

#profilePictureSmall {
	border-radius: 50% !important;
	width: 2.5rem;
    height: 2.5rem;
}

.new-post-text {
	position: absolute;
	left: 50%;
	top: 70%;
	transform: translate(-50%, -50%);
}

.newImageButton:hover {
	background-color: #149CBC !important;
}

a, a:hover, a:focus{
  color: blue;
}

.img-div {
	position: relative;
}

.img-div .btn {
	position: absolute;
	width: 2.5rem; 
    height: 2.5rem;
    border-radius: 1.25rem;
    padding: 0px;
 	padding-left: 3px;
	transform: translate(-120%, 20%);
	background-color: #149CBC;
	border-color: #149CBC;
}

.btn-primary:hover {
	background-color: #149CBC !important;
	border-color: #149CBC !important;
}

.in-depth-icon {
	height: auto !important;
	width: auto !important;
}

#load-more-button, #load-more-button:hover {
	background-color: #149CBC !important;
	border-color: #149CBC !important;
}

.tag-div {
	bottom: 10%;
	position: absolute;
}

.btn-circle.btn-xl { 
    width: 70px; 
    height: 70px; 
    border-radius: 35px;
    padding: 0px;
}

#menu-button {
	display: none;
	position: fixed;
	bottom: 15px;
  	right: 30px;
  	padding-top: 5.5px !important;
}

.colored-box {
	background-color: #149CBC;
	color: white;
	padding: 3px 8px;
	border-radius: 3px;
	font-size: 18px;
	max-width: 27%
}

.fa-slash {
	color: #149CBC !important;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#quickGameButton {
	position: fixed;
	bottom: 15px;
	right: 142px;
}

#scenarioButton {
	position: fixed;
	bottom: 15px;
  	right: 45px;
}

#statisticsButton {
	position: fixed;
	bottom: 15px;
	right: 235px;
}

#surveyButtonLEFT {
	position: fixed;
	bottom: 15px;
  	left: 45px;
}

.btn-success {
	background-color: #1F3B48 !important;
	border-color: #1F3B48 !important;
}

#showStatisticsButtonPad:focus, #quickGameButtonPad:focus, #scenarioButtonPad:focus, #menu-button:focus, #surveyButtonPadLEFT:focus, #surveyButtonPadRIGHT:focus {
  box-shadow: 0 0 0 0.2rem rgba(31, 59, 72, 0.5) !important;
}

#showStatisticsButtonDescription, #scenarioButtonDescription, #quickGameButtonDescription, #surveyButtonDescriptionLEFT, #surveyButtonDescriptionRIGHT {
    color: #fff;
    background-color: #1F3B48; /* #218838; */
    border-color: #1F3B48;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

i {
	width: 70px;
	height: 70px;
}

#scenarioButtonPad > i {
	padding-top: 15.5px !important;
}

#surveyButtonPadLEFT, #surveyButtonPadRIGHT > i {
	padding-top: 15.5px !important;
}

#showStatisticsButtonPad > i {
	padding-top: 14.5px !important;
	padding-left: 1px !important;
}

#quickGameButtonPad {
	padding-top: 13px !important;
}

#slashed-div > #quickGameButtonPad {
	padding-top: 0px !important;
}

#surveyButtonRIGHT, #surveyButtonDescriptionRIGHT {
	display: none !important;
}

@media (min-width: 768px) {
	#quickGameButton, #scenarioButton, #surveyButtonLEFT {
		display: block !important;
	}
	
	#surveyButtonRIGHT, #surveyButtonDescriptionRIGHT {
		display: none !important;
	}
}

@media (max-width: 767px) {

	.btn-xl {
		text-transform: uppercase;
	    padding: 0.75rem 1.5rem;
	    font-size: 1rem;
	    font-weight: 700;
	    letter-spacing: .1rem;
	}
	
	.colored-box {
		background-color: #24b1d1;
		color: white;
		padding: 2px 6px;
		border-radius: 2px;
		font-size: 14px;
	}
	
	i {
		width: 60px;
		height: 60px;
		
	}
	
	#statisticsButton, #quickGameButton, #scenarioButton, #surveyButtonLEFT, #surveyButtonDescriptionLEFT, #surveyButtonRIGHT, #surveyButtonDescriptionRIGHT {
		display: none !important;
	}
	
	#menu-button {
		padding-top: 5.5px !important;
		display: block;
	}
	
	#scenarioButtonPad > i {
		padding-top: 13.5px !important;
	}
	
	#surveyButtonPadLEFT, #surveyButtonPadRIGHT > i {
		padding-top: 11.5px !important;
	}
	
	#quickGameButtonPad {
		padding-top: 12px !important;
	}
	
	.btn-circle.btn-xl { 
	    width: 60px; 
	    height: 60px;
	    border-radius: 30px;
	    padding: 0px;
	}
	
	#menu-button {
		position: fixed;
		bottom: 15px;
	  	right: 20px;
	}
	
	#quickGameButton {
		position: fixed;
		bottom: 165px;
		right: 20px;
	}
	
	#scenarioButton {
		position: fixed;
		bottom: 90px;
		right: 20px;
	}
	
	#statisticsButton {
		position: fixed;
		bottom: 240px;
		right: 20px;
	}
	
	#surveyButtonRIGHT {
		position: fixed;
		bottom: 15px;
		right: 100px;
	}	
	
	#quickGameButtonDescription {
		position: fixed;
		bottom: 180px;
		right: 90px;
	}
	
	#scenarioButtonDescription {
		position: fixed;
		bottom: 105px;
		right: 90px;
	}
	
	#showStatisticsButtonDescription {
		position: fixed;
		bottom: 255px;
		right: 90px;
	}
	
	#surveyButtonDescriptionRIGHT {
		position: fixed;
		bottom: 30px;
		right: 170px;
	}
	
	#showStatisticsButtonDescription, #scenarioButtonDescription, #quickGameButtonDescription, #surveyButtonDescriptionLEFT, #surveyButtonDescriptionRIGHT {
		padding: 4px 8px;
		font-size: 12px;
	}
}