.cc-floating .cc-compliance > .cc-btn {
	flex: none !important;
}
 
.cc-revoke {
	display: none !important;
}
 
.privacy-container {
	border-radius: 5px;
	padding: 1.2em;
	background-color: rgb(31, 59, 72);
	color: rgb(255, 255, 255);
}

#active-consent-cont {
	padding: 0px;
}

input[type=checkbox] {
    transform: scale(1.5);
}
 
#privacy-info {
	text-decoration: underline;
	color: rgb(255, 255, 255);
}
 
.bg-black {
	background-color: #000 !important;
}

.bg-white {
	background-color: #fff !important;
}

.bg-grey {
	background-color: #efefef;
}

.grey-image {
    filter: grayscale(1);
}

html, body {
	height: 100%;
  	margin: 0;
}

.page-content {
	min-height: 96%;
	background-color: #efefef;
}

header, .waves {
	background-color: white;
}

header.masthead {
	position: relative;
	overflow: hidden;
	padding-top: 4rem;
}

header.masthead .masthead-content {
	z-index: 1;
	position: relative
}

header.masthead .masthead-content .masthead-heading {
	font-size: 4rem
}

header.masthead .masthead-content .masthead-subheading {
	font-size: 2rem
}

header.masthead .bg-circle {
	z-index: 0;
	position: absolute;
	border-radius: 100%;
	background: linear-gradient(0deg, #ee0979 0, #ff6a00 100%)
}

header.masthead .bg-circle-1 {
	height: 90rem;
	width: 90rem;
	bottom: -55rem;
	left: -55rem
}

header.masthead .bg-circle-2 {
	height: 50rem;
	width: 50rem;
	top: -25rem;
	right: -25rem
}

header.masthead .bg-circle-3 {
	height: 20rem;
	width: 20rem;
	bottom: -10rem;
	right: 5%
}

.about-btn {
	text-decoration: none;
	color: white;
}

.about-btn:hover {
     color:white; 
     text-decoration:none; 
}

header.masthead .bg-circle-4 {
	height: 30rem;
	width: 30rem;
	top: -5rem;
	right: 35%
}

.flag {
	max-width: 80%;
	height: auto;
	border: 1px solid black;
}

.flag-btn {
	width: 40px;
  	height: 40px;
  	overflow: hidden;
  	border-radius: 50%;
}

.flag-div {
	width: 60%;
}

.choose-lang {
	width: 100%;
}

.img-a {
	max-width: 50%;
	height: auto;
}

.lang_buttons, .game_exp, .cookie-consent-section {
	background-color: #efefef;
}

.flag-size, .card {
	width: 204px !important;
	height: 120px !important;
}

.perfect-rounded-circle {
	height: 150px !important;
	width: 150px !important;
	border-radius: 50%;
}

.perfect-rounded-circle-small {
	height: 90px !important;
	width: 90px !important;
	border-radius: 50%;
}

.no-margin {
	margin-bottom: 0rem;
}

@media (min-width: 576px) {
	.card-deck .card {
	    margin-right: 15px !important;
	    margin-bottom: 0 !important;
	    margin-left: 15px !important;
	    flex: 0 auto;
	}
}

.inactive-language {
	filter: grayscale(100%);
}

#scrollPlay, .goToScenarios, #scrollPlay:hover, .goToScenarios:hover{
	background-color: #149CBC !important;
	border-color: #149CBC !important;	
	width: 80%;
}

.fixed-size-btn {
	width: 150px;
}

@media (max-width: 768px) {
	.show-sm-screen {
		display: block;
	}
	
	.show-lg-screen {
		display: none;
	}
	
	.flag-div {
		width: 80%;
	}
}

@media (min-width: 769px) {
	.show-sm-screen {
		display: none;
	}
	
	.show-lg-screen {
		display: block;
	}
}

.cc-revoke {
	left: 1.1rem !important;
}
