@charset "UTF-8";

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.fix-dim {
	font-size: 2.2em !important;
    left: 2px !important;
}

.fa-blue-symbol {
	color: #149cbc !important;
}

.fa-caret-down {
	color: #c82333;
}

.fa-caret-up {
	color: #218838;
}

.fa-equals {
	color: #0069d9;
}

.fa-trophy {
	color: #e0a800;
}

.h2 {
	font-size: 2rem;
}

#matchForm {
	width: 90%;
	position:relative;
	text-align:center;
	left: 5%;
	bottom: 1rem;
}

#visionInfo {
    width: 100%;
    margin: auto;
    overflow: auto;
}

#imageDiv {
    width: 67%;
    height: auto;
    margin-left: auto;
  	margin-right: auto;
}

#matchedPic {
	height: auto;
	width: 100%;
	border-radius: 10px;
}

#keywordDiv {
    width: 100%;
    height: auto;
}

.chevron-sliders, .chevron-scenario {
	color: #007bff;
	float: right;
	padding-left: 5px;
}

/* Sliders customization */

.divSlider {
    background-color: white;
	border-radius: 25px;
	border-color: white;
}

.slider, .slider-green {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  position:relative;
  margin-top: auto;
  margin-bottom: auto;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border-color: #149cbc;
  background: #149cbc;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border-color: #149cbc;
  background: #149cbc;
  cursor: pointer;
}

.slider-green::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border-color: #28a745;
  background: #28a745;
  cursor: pointer;
}

.slider-green::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border-color: #28a745;
  background: #28a745;
  cursor: pointer;
}

.sliderticks {
  display: flex !important;
  justify-content: space-between !important;
  padding: 0 10px !important;
}

.sliderticks p {
  position: relative !important;
  display: flex !important;
  justify-content: center !important;
  text-align: center !important;
  width: 1px !important;
  background: #D3D3D3 !important;
  height: 10px !important;
  line-height: 40px !important;
  margin: 0 0 20px 0 !important;
}

#in-depth-button, #in-depth-button:hover {
	border-color: #28a745 !important;
  	background: #28a745 !important;
}

#end-button, #end-button:hover, #end-button-pre, #end-button-pre:hover {
	border-color: #fd7e14 !important;
  	background: #fd7e14 !important;
}

#end-button-pre:focus {
  	box-shadow: 0 0 0 0.2rem rgba(253, 126, 20, 0.5) !important;
}

#end-button:focus {
  	box-shadow: 0 0 0 0.2rem rgba(253, 126, 20, 0.5) !important;
}

#in-depth-button:focus {
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5) !important;
}

#in-depth-button {
	font-size: 1.5rem !important;
}

#end-button, #again-button, #end-button-pre {
	padding: 0.5rem 1rem !important;
	font-size: 1rem !important;
}

#legend {
	display: none;
}

@media (max-width: 767px) {
	
	#imageDiv {
	    width: 100%;
	    /*float: left;*/
	    height: auto;
	}
}