#newProfilePicture {
	display: none;
}

#profilePicture {
	border-radius: 50%;
  	margin: 15px;
  	width:300px;
  	height:300px;	
  	display: block;
}

#borderColor {
	border-radius: 50%;
	min-width:330px;
  	min-height:330px;
}

#profilePicture:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

i {
    width: auto !important;
    height: auto !important;
}

.opacity:hover {
	opacity: 0.6;
}

.fa-plus {
	color: #1F3B48;
}

.font-weight-bold {
	font-size: x-large;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 3px solid rgba(0, 0, 0, 0.1);
}

#errorTextField {
	color: red;
}

.h2 {
	font-size: 2.5rem;
}

.green {
	color: green;
}

.blue {
	color: #2929a3;
}

.yellow {
	 color: #ffcc00;
}

.greyscale {
  filter: grayscale(100%);
}

.ach-img {
	border: 1px solid #b3b3b3;
	border-radius: 7.5px;
}
@media (min-width: 992px) {
	.newImageFA {
		position: absolute;
		left: 50%;
		top: 45% !important;
		transform: translate(-50%, -50%);
	}
}