.bg-black {
	background-color: #000 !important;
}

html, body {
	height: 100%;
  	margin: 0;
}

.page-content {
	min-height: 96%;
	background-color: #efefef;
}

header, .waves {
	background-color: white;
}

header.masthead {
	position: relative;
	overflow: hidden;
	padding-top: 4rem;
}

header.masthead .masthead-content {
	z-index: 1;
	position: relative
}

header.masthead .masthead-content .masthead-heading {
	font-size: 4rem
}

header.masthead .masthead-content .masthead-subheading {
	font-size: 2rem
}

header.masthead .bg-circle {
	z-index: 0;
	position: absolute;
	border-radius: 100%;
	background: linear-gradient(0deg, #ee0979 0, #ff6a00 100%)
}

header.masthead .bg-circle-1 {
	height: 90rem;
	width: 90rem;
	bottom: -55rem;
	left: -55rem
}

header.masthead .bg-circle-2 {
	height: 50rem;
	width: 50rem;
	top: -25rem;
	right: -25rem
}

header.masthead .bg-circle-3 {
	height: 20rem;
	width: 20rem;
	bottom: -10rem;
	right: 5%
}

header.masthead .bg-circle-4 {
	height: 30rem;
	width: 30rem;
	top: -5rem;
	right: 35%
}

textarea {
	resize: none;
}

#scrollPlay, #goToScenarios, #scrollPlay:hover, #goToScenarios:hover{
	background-color: #149CBC !important;
	border-color: #149CBC !important;	
	width: 80%;
}

@media (max-width: 768px) {
	.show-sm-screen {
		display: block;
	}
	
	.show-lg-screen {
		display: none;
	}
	
	.flag-div {
		width: 80%;
	}
}

@media (min-width: 769px) {
	.show-sm-screen {
		display: none;
	}
	
	.show-lg-screen {
		display: block;
	}
}