.btn-circle.btn-xl { 
    width: 70px; 
    height: 70px; 
    border-radius: 35px;
    padding: 0px;
}

.card-img-top {
	width: 100%;
    height: 15vw;
    object-fit: cover;
}

.s-description-clamp {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-align: left;
}

.introImg {
	width: 80%;
	height: auto;
	margin-left: 10%;
}

.narrative-title {
	border-style: solid;
	border-color: #149CBC;
	border-radius: 5px;
	text-align: center;
	overflow: hidden;
}

.scenario-title-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 4px;
	border-style: solid;
	border-color: #149CBC;
	background-color: rgba(255, 255, 255, 0.8);
}


.narrative-title-text {
	border-radius: 4px;
	border-style: solid;
	border-color: #149CBC;
	background-color: rgba(255, 255, 255, 0.8);
}

.img-fluid {
	border-radius: 2px !important;
	opacity: 0.8;
}

.carousel-reshape {
	height: 3vw;
	overflow: hidden;
	border-radius: 7px;
}

.carousel-caption {
	top: 50%;
	transform: translateY(-50%);
	bottom: initial;
}

.item {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

#end-button {
	background-color: #4db8ff !important;
	border-color: #4db8ff !important;
}

div button .fas-btn {
	color: white !important;
}

div button .far-btn {
	color: white !important;
}

.btn-text {
	color: white !important;
}

.justified-text {
	text-align: justify;
}

.title-wrap {
	word-wrap: break-word;
}

.home-div {
	cursor: pointer;
}

#homeButton {
	position: fixed;
	bottom: 15px;
  	right: 45px;
}

#profileButton {
	position: fixed;
	bottom: 15px;
  	left: 45px;
}

#homeButtonPad:focus, #profileButtonPad:focus {
  box-shadow: 0 0 0 0.2rem rgba(31, 59, 72, 0.5) !important;
}

#homeButtonDescription, #profileButtonDescription {
    color: #fff;
    background-color: #1F3B48; /* #218838; */
    border-color: #1F3B48;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

i {
	width: 70px;
	height: 70px;
}

.btn-success {
	background-color: #1F3B48 !important;
	border-color: #1F3B48 !important;
}

#homeButtonPad > i, #profileButtonPad > i {
	padding-top: 15.5px !important;
	display: initial;
	color: #fff;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
	
	.card-img-top {
		width: 100%;
	    height: 50vw;
	    object-fit: cover;
	}
	
	.btn-xl {
		text-transform: uppercase;
	    padding: 0.75rem 1.5rem;
	    font-size: 1rem;
	    font-weight: 700;
	    letter-spacing: .1rem;
	}
	
	i {
		width: 60px;
		height: 60px;
	}
	
	.btn-circle.btn-xl { 
	    width: 60px; 
	    height: 60px;
	    border-radius: 30px;
	    padding: 0px;
	}
	
	#homeButtonPad > i, #profileButtonPad > i {
		padding-top: 13.5px !important;
		display: initial;
		color: #fff;
	}
	
	#homeButton {
		position: fixed;
		bottom: 15px;
	  	right: 20px;
	}
	
	#profileButton {
		position: fixed;
		bottom: 15px;
	  	left: 20px;
	}
	
	#homeButtonDescription {
		position: fixed;
		bottom: 30px;
		right: 90px;
		padding: 4px 8px;
		font-size: 12px;
	}
	
	
	#profileButtonDescription {
		position: fixed;
		bottom: 30px;
		left: 90px;
		padding: 4px 8px;
		font-size: 12px;
	}
}

.carousel-control-prev-icon {
 	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23149CBC' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23149CBC' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

@media (max-width: 360px) {
	.carousel-reshape {
		height: 11vw;
		overflow: hidden;
		border-radius: 7px;
	}	
}

@media (min-width: 361px) and (max-width: 576px) {
	.carousel-reshape {
		height: 9vw;
		overflow: hidden;
		border-radius: 7px;
	}	
}

@media (min-width: 576px) and (max-width: 767px) {
	.carousel-reshape {
		height: 8vw;
		overflow: hidden;
		border-radius: 7px;
	}	
}

@media (min-width: 768px) and (max-width: 992px) {
	.carousel-reshape {
		height: 7vw;
		overflow: hidden;
		border-radius: 7px;
	}	
}

@media (min-width: 993px) and (max-width: 1200px) {
	.carousel-reshape {
		height: 6vw;
		overflow: hidden;
		border-radius: 7px;
	}	
}

@media (min-width: 1200px) and (max-width: 1548px) {
	.carousel-reshape {
		height: 5vw;
		overflow: hidden;
		border-radius: 7px;
	}
}

@media (min-width: 1549px) {
	.carousel-reshape {
		height: 4vw;
		overflow: hidden;
		border-radius: 7px;
	}
}