.left {
	text-align: initial;
}

#countryRow, #regionRow {
	display: none;
}

td > #empty{
	width: 10%;
}

td {
	width: 45%;
}

@media (max-width: 767px) {
   
	.big{
		width: 1.5em;
		height: 1.5em;
	}
}

@media (min-width: 768px) {
    
	.big{
		width: 2em;
		height: 2em;
	}
}

#mail.invalid {
	text-align: center;
}

.grey-background {
	background-color: #efefef;
}

body {
	background-color: #efefef !important;
}

.white-bg {
	background-color: white;
}