
@charset "UTF-8";

html, body {
    overscroll-behavior-y: contain;
}

a {
	text-decoration: underline;
}

.fa-blue-symbol {
	color: #149cbc !important;
}

.col-6 {
	padding-right: 5px;
    padding-left: 5px;
}

.grid-1, .grid-2, .grid-3 {
	display: none;
}

.chevron-scenario, .chevron-sliders {
	color: #007bff;
	float: right;
	padding-left: 5px;
}

#mask-canvas {
	touch-action: none;
}

.squared-button {
	height: 38px;
	padding: .15rem .75rem !important;
}

textarea {
	resize: none;
}

img {
	height: 100%;
	border-radius: 4px;
}

#end-button:focus {
  	box-shadow: 0 0 0 0.2rem rgba(253, 126, 20, 0.5) !important;
}

#formVisionInfo {
	width: 90%;
	position:relative;
	text-align:center;
	left: 5%;
}

#FirstDimSlider, #SecondDimSlider {
	height: 40px;
	background-color: white;
	border-radius: 25px;
	background-color:white;
}

.slider {
  -webkit-appearance: none;
  height: 5px;
  width: 100%;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  position:relative;
  margin-top: auto;
  margin-bottom: auto;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border-color: #149cbc;
  background: #149cbc;
  cursor: pointer;
}

#sliderDesc, #scenarioDesc {
	border-style: solid;
	border-radius: 5px;
	border-width: thin;
	border-color: #1f3b48;
}

#imgVision {
	border-radius: 10px;
}

.slider::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border-color: #149cbc;
  background: #149cbc;
  cursor: pointer;
}

.sliderticks {
  display: flex !important;
  justify-content: space-between !important;
  padding: 0 10px !important;
}

.sliderticks p {
  position: relative !important;
  display: flex !important;
  justify-content: center !important;
  text-align: center !important;
  width: 1px !important;
  background: #D3D3D3 !important;
  height: 10px !important;
  line-height: 40px !important;
  margin: 0 0 20px 0 !important;
}

#end-button, #end-button:hover, #end-button-pre, #end-button-pre:hover {
	border-color: #fd7e14 !important;
  	background: #fd7e14 !important;
  	padding: 0.5rem 1rem !important;
	font-size: 1rem !important;
}

#legend {
	display: none;
}

@media (max-width: 767px) {
   
	.item {
	  position: absolute;
	  margin: 5px;
	  z-index: 1;
	  max-width: 100% !important;
	}
}


/* -- Photo layouts -- */
.btn-group {
	width: 90%;
}

.grid-1, .grid-2, .grid-3 {
  	position: relative;
  	transition: opacity 0.8s linear 1s;
}

.item-layout1 {
	display: block;
	position: absolute;
	max-width: 100px;
	width: 100%;
	height: 300px;
	z-index: 1;
}

.item-layout2 {
	display: block;
	position: absolute;
	width: 300px;
	height: 100px;
	z-index: 1;
}

.item-layout3 {
	display: block;
	position: absolute;
	max-width: 150px;
	width: 100%;
	height: 150px;
	z-index: 1;
}

.item-layout1.muuri-item-dragging, .item-layout2.muuri-item-dragging, .item-layout3.muuri-item-dragging {
	z-index: 3;
}
.item-layout1.muuri-item-releasing, .item-layout2.muuri-item-releasing, .item-layout3.muuri-item-releasing {
	z-index: 2;
}
.item-layout1.muuri-item-hidden, .item-layout2.muuri-item-hidden, .item-layout3.muuri-item-hidden {
	z-index: 0;
}
.item-content {
	position: relative;
	width: 100%;
	height: 100%;
}

.item-content > .img-content {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 3px;
  	border-color: #30bcff;
  	border-style: solid;
  	border-width: medium;
  	background-color: rgb(214, 251, 255);
  	overflow: hidden;
  	border-width: 1.5px !important;
}

/* -- Modal -- */
.modal-dialog {
	overflow-y: initial !important
}

.modal-body {
	height: auto;
	max-height: 400px;
	overflow-y: auto;
}

.modal-body-mask {
	height: auto;
	/*max-height: 500px;*/
}

.updatePic, .search-btn {
	display: none;
}

#image-mask {
	height: auto;
}

.canvas-mask {
	border-radius: 4px;
	width: 92%;
	height: 100%;
}

#load-more-unsplash, #load-more-unsplash:hover{
	background-color: #149CBC !important;
	border-color: #149CBC !important;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.photo-credits {
	display: none;
}

/* Muuri Library */
.grid {
  position: relative;
  opacity: 0;
  transition: opacity 0.8s linear 1s;
}

.images-loaded .grid {
  opacity: 1;
}

.item {
  position: absolute;
  margin: 5px;
  z-index: 1;
  max-width: 31.9%;
}

.item.muuri-item-hidden {
  z-index: 0;
}

.item.muuri-item-releasing {
  z-index: 2;
}

.item.muuri-item-dragging {
  z-index: 3;
}

.item-content {
  position: relative;
  cursor: pointer;
}

.item-content > img {
  display: block;
  border-radius: 6px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-transform: uppercase;
  transition: opacity 0.6s linear 0.4s;
}

.images-loaded .loading {
  opacity: 0;
}