<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title th:text="#{about.main-title}"></title>
<link rel="icon" 
      type="image/png" 
      href="appimg/Logo-Fav.png">
<link href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
	rel="stylesheet">
<link rel="stylesheet" href="css/about-page.css">
<link rel="stylesheet" href="css/all.css">
<link href="/fontawesome-free/css/all.css" rel="stylesheet">

</head>

<body>
	<header class="masthead text-center text-white">
		<div class="masthead-content">
			<div class="container">
				<div class="d-flex align-items-center justify-content-center my-3">
				<span class="fa-stack fa-2x">
					<i class="far fa-circle fa-stack-2x fas-btn"></i>
					<i class="fas fa-search fa-stack-1x fas-btn"></i>
				</span>
				<h1 class="font-weight-bolder paired" th:text="#{about.title}"></h1>
				</div>
			</div>
			<div class = "py-2">
				<h4 class="font-weight-bolder paired" th:text="#{about.subtitle-1}"></h4>
				<h4 class="font-weight-bolder paired" th:text="#{about.subtitle-2}"></h4>
			</div>
			<div class="uncode-divider-wrap uncode-divider-wrap-bottom z_index_3">
				<svg version="1.1" class="uncode-row-divider uncode-row-divider-swoosh-opacity" x="0px" y="0px" width="100%" height="20%" viewBox="0 0 240 24" enable-background="new 0 0 240 24" preserveAspectRatio="none">
				<path fill="#efefef" fill-opacity="0.33" d="M240,24V0c-51.797,0-69.883,13.18-94.707,15.59c-24.691,2.4-43.872-1.17-63.765-1.08
					c-19.17,0.1-31.196,3.65-51.309,6.58C15.552,23.21,4.321,22.471,0,22.01V24H240z"></path>
				<path fill="#efefef" fill-opacity="0.33" d="M240,24V2.21c-51.797,0-69.883,11.96-94.707,14.16
					c-24.691,2.149-43.872-1.08-63.765-1.021c-19.17,0.069-31.196,3.311-51.309,5.971C15.552,23.23,4.321,22.58,0,22.189V24h239.766H240
					z"></path>
				<path fill="#efefef" d="M240,24V3.72c-51.797,0-69.883,11.64-94.707,14.021c-24.691,2.359-43.872-3.25-63.765-3.17
					c-19.17,0.109-31.196,3.6-51.309,6.529C15.552,23.209,4.321,22.47,0,22.029V24H240z"></path>
				</svg>
			</div>
		</div>
	</header>
	
	<!-- CONCEPT SECTION -->
	<section class="grey-background">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 order-lg-1 mt-3">
					<div class="column p-3 text-center">
						<span class="fa-stack fa-2x mb-2">
							<i class="far fa-circle fa-stack-2x icon-scenario"></i>
							<i class="fas fa-lightbulb fa-stack-1x icon-scenario"></i>
						</span>
					</div>
					<div class="text-center">
						<h2 class="display-5" th:text="#{about.concept-title}"><b></b></h2>
						<h5 class="text-left" th:text="#{about.concept-text}"></h5>
					</div>
				</div>
				<div class="col-lg-6 mt-3 order-lg-1 text-center pb-2">
					<img class="col-lg-11" src="appimg/COCTEAU_Concept.png">
				</div>
			</div>
		</div>
		<div class="uncode-divider-wrap uncode-divider-wrap-bottom z_index_3">
			<svg version="1.1" class="uncode-row-divider uncode-row-divider-swoosh-opacity" x="0px" y="0px" width="100%" height="20%" viewBox="0 0 240 24" enable-background="new 0 0 240 24" preserveAspectRatio="none">
			<path fill="#ffffff" fill-opacity="0.33" d="M240,24V0c-51.797,0-69.883,13.18-94.707,15.59c-24.691,2.4-43.872-1.17-63.765-1.08
				c-19.17,0.1-31.196,3.65-51.309,6.58C15.552,23.21,4.321,22.471,0,22.01V24H240z"></path>
			<path fill="#ffffff" fill-opacity="0.33" d="M240,24V2.21c-51.797,0-69.883,11.96-94.707,14.16
				c-24.691,2.149-43.872-1.08-63.765-1.021c-19.17,0.069-31.196,3.311-51.309,5.971C15.552,23.23,4.321,22.58,0,22.189V24h239.766H240
				z"></path>
			<path fill="#ffffff" d="M240,24V3.72c-51.797,0-69.883,11.64-94.707,14.021c-24.691,2.359-43.872-3.25-63.765-3.17
				c-19.17,0.109-31.196,3.6-51.309,6.529C15.552,23.209,4.321,22.47,0,22.029V24H240z"></path>
			</svg>
		</div>
	</section>

	<!-- CONTEXT SECTION -->
	<section>
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 order-lg-2">
					<div class="column p-3 text-center">
						<i class="far fa-4x fa-question-circle icon-scenario"></i>
					</div>
					<div class="text-center">
						<h2 class="display-5" th:text="#{about.context-title}"><b></b></h2>
						<div class="text-left">
							<h5 th:text="#{about.context-text}"></h5>
							<ul>
								<li><h5 th:text="#{about.context-bullet-1}"></h5></li>
								<li><h5 th:text="#{about.context-bullet-2}"></h5></li>
								<li><h5 th:text="#{about.context-bullet-3}"></h5></li>
								<li><h5 th:text="#{about.context-bullet-4}"></h5></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mt-3 order-lg-1 text-center pb-2">
					<img class="col-lg-11 grey-image" src="appimg/Problems_schema.png">
				</div>
			</div>
		</div>
		<div class="uncode-divider-wrap uncode-divider-wrap-bottom z_index_3">
			<svg version="1.1" class="uncode-row-divider uncode-row-divider-swoosh-opacity" x="0px" y="0px" width="100%" height="20%" viewBox="0 0 240 24" enable-background="new 0 0 240 24" preserveAspectRatio="none">
			<path fill="#efefef" fill-opacity="0.33" d="M240,24V0c-51.797,0-69.883,13.18-94.707,15.59c-24.691,2.4-43.872-1.17-63.765-1.08
				c-19.17,0.1-31.196,3.65-51.309,6.58C15.552,23.21,4.321,22.471,0,22.01V24H240z"></path>
			<path fill="#efefef" fill-opacity="0.33" d="M240,24V2.21c-51.797,0-69.883,11.96-94.707,14.16
				c-24.691,2.149-43.872-1.08-63.765-1.021c-19.17,0.069-31.196,3.311-51.309,5.971C15.552,23.23,4.321,22.58,0,22.189V24h239.766H240
				z"></path>
			<path fill="#efefef" d="M240,24V3.72c-51.797,0-69.883,11.64-94.707,14.021c-24.691,2.359-43.872-3.25-63.765-3.17
				c-19.17,0.109-31.196,3.6-51.309,6.529C15.552,23.209,4.321,22.47,0,22.029V24H240z"></path>
			</svg>
		</div>
	</section>
	
	<!-- DESIGN SECTION -->
	<section class="grey-background">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-12">
					<div class="column p-3 text-center">
						<span class="fa-stack fa-2x">
							<i class="far fa-circle fa-stack-2x icon-scenario"></i>
							<i class="fas fa-layer-group fa-stack-1x icon-scenario"></i>
						</span>
					</div>
					<div class="text-center order-lg-1">
						<h2 class="display-5" th:text="#{about.approach-title}"></h2>
						<div class="row justify-content-center mt-2">
							<span class="my-2">
								<img class="col-2" src="appimg/Theory_model_icon.png">
								<i class="fas fa-arrow-right icon-scenario" style="vertical-align: middle;"></i>
								<img class="col-2" src="appimg/Physical_mockup_icon.png">
								<i class="fas fa-arrow-right icon-scenario" style="vertical-align: middle;"></i>
								<img class="col-2" src="appimg/Digital_mockup_icon.png">
							</span>
							<h5 th:text="#{about.approach-text}"></h5>
						</div>
						<div class="text-left mt-2">
							<ul>
								<li><h5 th:text="#{about.approach-bullet-1}"></h5></li>
								<li><h5 th:text="#{about.approach-bullet-2}"></h5></li>
								<li><h5 th:text="#{about.approach-bullet-3}"></h5></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="uncode-divider-wrap uncode-divider-wrap-bottom z_index_3">
			<svg version="1.1" class="uncode-row-divider uncode-row-divider-swoosh-opacity" x="0px" y="0px" width="100%" height="20%" viewBox="0 0 240 24" enable-background="new 0 0 240 24" preserveAspectRatio="none">
			<path fill="#ffffff" fill-opacity="0.33" d="M240,24V0c-51.797,0-69.883,13.18-94.707,15.59c-24.691,2.4-43.872-1.17-63.765-1.08
				c-19.17,0.1-31.196,3.65-51.309,6.58C15.552,23.21,4.321,22.471,0,22.01V24H240z"></path>
			<path fill="#ffffff" fill-opacity="0.33" d="M240,24V2.21c-51.797,0-69.883,11.96-94.707,14.16
				c-24.691,2.149-43.872-1.08-63.765-1.021c-19.17,0.069-31.196,3.311-51.309,5.971C15.552,23.23,4.321,22.58,0,22.189V24h239.766H240
				z"></path>
			<path fill="#ffffff" d="M240,24V3.72c-51.797,0-69.883,11.64-94.707,14.021c-24.691,2.359-43.872-3.25-63.765-3.17
				c-19.17,0.109-31.196,3.6-51.309,6.529C15.552,23.209,4.321,22.47,0,22.029V24H240z"></path>
			</svg>
		</div>
	</section>
	
	<!-- THEORY MODEL SECTION -->
	<section>
		<div class="container">
			<div class="column p-3 text-center">
				<span class="fa-stack fa-2x mb-2">
					<i class="far fa-circle fa-stack-2x icon-scenario"></i>
					<i class="fas fa-wave-square fa-stack-1x icon-scenario"></i>
				</span>
				<h2 class="display-5" th:text="#{about.th-model-title}"></h2>
				<h5 th:text="#{about.th-model-subtitle}"></h5>
			</div>
			<div class="row align-items-center">
				<div class="col-lg-5 order-lg-2">
					<div class="text-center">
						<div class="text-left">
							<ul>
								<li><h5 th:text="#{about.th-model-bullet-1}"></h5></li>
								<li><h5 th:text="#{about.th-model-bullet-2}"></h5></li>
								<li><h5 th:text="#{about.th-model-bullet-3}"></h5></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-7 mt-3 order-lg-1 text-center pb-2">
					<img class="col-12" src="appimg/Theory_model.png">
				</div>
			</div>
		</div>
		<div class="uncode-divider-wrap uncode-divider-wrap-bottom z_index_3">
			<svg version="1.1" class="uncode-row-divider uncode-row-divider-swoosh-opacity" x="0px" y="0px" width="100%" height="20%" viewBox="0 0 240 24" enable-background="new 0 0 240 24" preserveAspectRatio="none">
			<path fill="#efefef" fill-opacity="0.33" d="M240,24V0c-51.797,0-69.883,13.18-94.707,15.59c-24.691,2.4-43.872-1.17-63.765-1.08
				c-19.17,0.1-31.196,3.65-51.309,6.58C15.552,23.21,4.321,22.471,0,22.01V24H240z"></path>
			<path fill="#efefef" fill-opacity="0.33" d="M240,24V2.21c-51.797,0-69.883,11.96-94.707,14.16
				c-24.691,2.149-43.872-1.08-63.765-1.021c-19.17,0.069-31.196,3.311-51.309,5.971C15.552,23.23,4.321,22.58,0,22.189V24h239.766H240
				z"></path>
			<path fill="#efefef" d="M240,24V3.72c-51.797,0-69.883,11.64-94.707,14.021c-24.691,2.359-43.872-3.25-63.765-3.17
				c-19.17,0.109-31.196,3.6-51.309,6.529C15.552,23.209,4.321,22.47,0,22.029V24H240z"></path>
			</svg>
		</div>
	</section>
	
	<!-- DIGITAL MOCKUP SECTION -->
	<section class="grey-background">
		<div class="container">
			<div class="column p-3 text-center">
				<span class="fa-stack fa-2x mb-2">
					<i class="far fa-circle fa-stack-2x icon-scenario"></i>
					<i class="fas fa-desktop fa-stack-1x icon-scenario"></i>
				</span>
				<h2 class="display-5" th:text="#{about.dig-mockup-title}"></h2>
			</div>
			<div class="row align-items-center">
				<div class="col-lg-6 order-lg-2">
					<div class="text-center">
						<div class="text-left">
							<h5 th:text="#{about.dig-mockup-subtitle}"></h5>
							<ul>
								<li><h5 th:text="#{about.dig-mockup-bullet-1}"></h5></li>
								<li><h5 th:text="#{about.dig-mockup-bullet-2}"></h5></li>
								<li><h5 th:text="#{about.dig-mockup-bullet-3}"></h5></li>
								<li><h5 th:text="#{about.dig-mockup-bullet-4}"></h5></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mt-3 order-lg-1 text-center pb-2">
					<img class="col-12" src="appimg/Digital_mockup.png">
				</div>
			</div>
		</div>
		<div class="uncode-divider-wrap uncode-divider-wrap-bottom z_index_3">
			<svg version="1.1" class="uncode-row-divider uncode-row-divider-swoosh-opacity" x="0px" y="0px" width="100%" height="20%" viewBox="0 0 240 24" enable-background="new 0 0 240 24" preserveAspectRatio="none">
			<path fill="#ffffff" fill-opacity="0.33" d="M240,24V0c-51.797,0-69.883,13.18-94.707,15.59c-24.691,2.4-43.872-1.17-63.765-1.08
				c-19.17,0.1-31.196,3.65-51.309,6.58C15.552,23.21,4.321,22.471,0,22.01V24H240z"></path>
			<path fill="#ffffff" fill-opacity="0.33" d="M240,24V2.21c-51.797,0-69.883,11.96-94.707,14.16
				c-24.691,2.149-43.872-1.08-63.765-1.021c-19.17,0.069-31.196,3.311-51.309,5.971C15.552,23.23,4.321,22.58,0,22.189V24h239.766H240
				z"></path>
			<path fill="#ffffff" d="M240,24V3.72c-51.797,0-69.883,11.64-94.707,14.021c-24.691,2.359-43.872-3.25-63.765-3.17
				c-19.17,0.109-31.196,3.6-51.309,6.529C15.552,23.209,4.321,22.47,0,22.029V24H240z"></path>
			</svg>
		</div>
	</section>
	
	<!-- MAIN GOALS SECTION -->
	<section>
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-12">
					<div class="column p-3 text-center">
						<span class="fa-stack fa-2x">
							<i class="far fa-circle fa-stack-2x icon-scenario"></i>
							<i class="fas fa-crosshairs fa-stack-1x icon-scenario"></i>
						</span>
					</div>
					<div class="text-center">
						<h2 class="display-5" th:text="#{about.goals-title}"><b></b></h2>
						<div class="text-left">
							<ul>
								<li><h5 th:text="#{about.goals-bullet-1}"></h5></li>
								<li><h5 th:text="#{about.goals-bullet-2}"></h5></li>
								<li><h5 th:text="#{about.goals-bullet-3}"></h5></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="uncode-divider-wrap uncode-divider-wrap-bottom z_index_3">
			<svg version="1.1" class="uncode-row-divider uncode-row-divider-swoosh-opacity" x="0px" y="0px" width="100%" height="20%" viewBox="0 0 240 24" enable-background="new 0 0 240 24" preserveAspectRatio="none">
			<path fill="#efefef" fill-opacity="0.33" d="M240,24V0c-51.797,0-69.883,13.18-94.707,15.59c-24.691,2.4-43.872-1.17-63.765-1.08
				c-19.17,0.1-31.196,3.65-51.309,6.58C15.552,23.21,4.321,22.471,0,22.01V24H240z"></path>
			<path fill="#efefef" fill-opacity="0.33" d="M240,24V2.21c-51.797,0-69.883,11.96-94.707,14.16
				c-24.691,2.149-43.872-1.08-63.765-1.021c-19.17,0.069-31.196,3.311-51.309,5.971C15.552,23.23,4.321,22.58,0,22.189V24h239.766H240
				z"></path>
			<path fill="#efefef" d="M240,24V3.72c-51.797,0-69.883,11.64-94.707,14.021c-24.691,2.359-43.872-3.25-63.765-3.17
				c-19.17,0.109-31.196,3.6-51.309,6.529C15.552,23.209,4.321,22.47,0,22.029V24H240z"></path>
			</svg>
		</div>
	</section>
	
	<!-- CONTACTS -->
	<section class="grey-background">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-12">
					<div class="column p-3 text-center">
						<span class="fa-stack fa-2x mb-2">
							<i class="far fa-circle fa-stack-2x icon-scenario"></i>
							<i class="fas fa-id-card fa-stack-1x icon-scenario"></i>
						</span>
					</div>
					<div class="text-center">
						<h2 class="display-5" th:text="#{about.contacts-title}"></h2>
						<h5 th:utext="#{about.contacts-text}"></h5>
					</div>
				</div>
			</div>
		</div>
		<div class="uncode-divider-wrap uncode-divider-wrap-bottom z_index_3">
			<svg version="1.1" class="uncode-row-divider uncode-row-divider-swoosh-opacity" x="0px" y="0px" width="100%" height="20%" viewBox="0 0 240 24" enable-background="new 0 0 240 24" preserveAspectRatio="none">
			<path fill="#ffffff" fill-opacity="0.33" d="M240,24V0c-51.797,0-69.883,13.18-94.707,15.59c-24.691,2.4-43.872-1.17-63.765-1.08
				c-19.17,0.1-31.196,3.65-51.309,6.58C15.552,23.21,4.321,22.471,0,22.01V24H240z"></path>
			<path fill="#ffffff" fill-opacity="0.33" d="M240,24V2.21c-51.797,0-69.883,11.96-94.707,14.16
				c-24.691,2.149-43.872-1.08-63.765-1.021c-19.17,0.069-31.196,3.311-51.309,5.971C15.552,23.23,4.321,22.58,0,22.189V24h239.766H240
				z"></path>
			<path fill="#ffffff" d="M240,24V3.72c-51.797,0-69.883,11.64-94.707,14.021c-24.691,2.359-43.872-3.25-63.765-3.17
				c-19.17,0.109-31.196,3.6-51.309,6.529C15.552,23.209,4.321,22.47,0,22.029V24H240z"></path>
			</svg>
		</div>
	</section>
	
	<section class="pb-2" id="playbutton">
		<div class="container">
			<div class="row justify-content-center mb-4">
				<form action="/" method="get">
					<button class="btn btn-primary btn-xl rounded-pill mt-3 mx-auto mb-2" th:text="#{about.close-button}"></button>
				</form>
			</div>
		</div>
	</section>
	
	<div id="lang" th:text="#{lang}" style="display:none"></div>
	
	<script type="text/javascript"
		src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript"
		src="/webjars/popper.js/1.14.1/umd/popper.min.js"></script>
	<script type="text/javascript"
		src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
</body>

</html>
