<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title th:text="#{access-denied.main-title}"></title>
<link rel="icon" 
      type="image/png" 
      href="appimg/Logo-Fav.png">
<link href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
	rel="stylesheet">
<link rel="stylesheet" href="css/error-page.css">
<link rel="stylesheet" href="css/all.css">
</head>

<body>
	<header class="masthead text-center text-white">
		<div class="masthead-content">
			<div class="container">
				<h1 class="masthead-heading font-weight-bolder mt-3" th:text="#{access-denied.title}"></h1>
				<h2 class="masthead-subheading my-2" th:text="#{access-denied.subtitle}"></h2>
			</div>
		</div>
	</header>

	<section>
		<div class="container">
			<div class="text-center">
				<div class="col-12 order-lg-1">
					<div class="p-1">
						<p><span class="font-weight-bold" th:text="#{access-denied.bold}"></span><span th:text="#{access-denied.paragraph}"></span></p>
						<a href="/" class="btn btn-primary btn-xl rounded-pill mt-5" th:text="#{access-denied.back}"></a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript"
		src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript"
		src="/webjars/popper.js/1.14.1/umd/popper.min.js"></script>
	<script type="text/javascript"
		src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
</body>
</html>
