<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title th:text="#{feed.main-title}"></title>
<link rel="icon" 
      type="image/png" 
      href="appimg/Logo-Fav.png">

<link href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css"
	rel="stylesheet">
<link href="/fontawesome-free/css/all.css" rel="stylesheet">
<link href="css/all.css" rel="stylesheet">
<link href="css/feed-page.css" rel="stylesheet">

</head>

<body>
	<div id="firstTimeInfoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredScrollableTitle" style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="firstTimeInfoModalTitle" th:text="#{feed.intro-title}"></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<p th:text="#{feed.intro-msg1}"></p>
					<p th:text="#{feed.intro-msg2}"></p>
					<img src="/appimg/Intro.png" class="introImg px-auto"/>
					<p th:text="#{feed.intro-msg3}"></p>
					<p th:text="#{feed.intro-msg4}"></p>
					<p th:text="#{feed.intro-msg5}"></p>
					<p th:text="#{feed.intro-msg6}"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary modal-dismiss-btn" data-dismiss="modal" th:text="#{tutorial.confirm-button}"></button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="d-flex align-items-center justify-content-center mb-3 mt-4">
		<span class="fa-stack fa-2x">
			<i class="far fa-circle fa-stack-2x fas-btn"></i>
			<i class="fas fa-newspaper fa-stack-1x fas-btn"></i>
		</span>
		<h1 class="title-feed font-weight-bolder paired" th:text="#{feed.title}"></h1>
		<input type="hidden" th:value="${firstTime}" id="firstTime">
	</div>
	
	<input type="hidden" th:value="${survey}" id="survey">
	
	<h4 class="text-center mx-3 small-h4" th:text="#{feed.subtitle}">
			
	</h4>
	
	<div class="container-fluid mb-2" th:insert="fragments/feed-fragment.html :: content" th:with="visions=${visions}, missing=${missing}" id="main-container">

	</div>
	
	<button class="btn btn-success btn-circle btn-xl mt-1" id="menu-button">
		<i class="fas fa-3x fa-caret-down"></i>
	</button>

	<div class="d-flex flex-column justify-content-center" id="quickGameButton">
		<form action="/match" method="post" id="newQMatch">
			<input type="hidden" th:value="${scenarioId}" name="scenarioId" id="scenarioId">
		</form>
		
		<div id="quickGameButtonDescription" th:text="#{feed.button-game}">
			
		</div>
		
		<div th:if="${game}" class="d-flex justify-content-center">
			<button class="btn btn-success btn-circle btn-xl mt-1" form="newQMatch" id="quickGameButtonPad">
				<i class="fas fa-2x fa-dice" data-fa-transform="down-6"></i>
			</button>
		</div>
		<div th:unless="${game}" class="d-flex justify-content-center" id="slashed-div">
			<button class="btn btn-success btn-circle btn-xl mt-1" form="newQMatch" id="quickGameButtonPad" disabled>
				<span class="fa-stack" style="vertical-align: top;">
					<i class="fas fa-stack-2x fa-dice"></i>
				  	<i class="fas fa-stack-2x fa-slash fa-flip-horizontal"></i>
				</span>
				
			</button>
		</div>
	</div>
	
	<div class="d-flex flex-column justify-content-center" id="scenarioButton">
		<div id="scenarioButtonDescription" th:text="#{feed.button-scenario}">
			
		</div>
		
		<div class="d-flex justify-content-center">
			<a th:href="@{'/scenario?lang=' + ${lang}}">
				<button class="btn btn-success btn-circle btn-xl mt-1" id="scenarioButtonPad">
					<i class="fas fa-2x fa-home"></i>
				</button>
			</a>
		</div>
	</div>
	
	<script type="text/javascript"
		src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript"
		src="/webjars/popper.js/1.14.1/umd/popper.min.js"></script>
	<script type="text/javascript"
		src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
	<script type="text/javascript"
		src="/js/feedManagement.js"></script>
	<script type="module"
		src="/js/js.cookie.js"></script>

</body>
</html>
