<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title th:text="#{indepth.main-title}"></title>
<link rel="icon" 
      type="image/png" 
      href="appimg/Logo-Fav.png">
<link href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css"
	rel="stylesheet">
<link href="/fontawesome-free/css/all.css" rel="stylesheet">
<link href="css/all.css" rel="stylesheet">
<link href="css/match-page.css" rel="stylesheet">
<link href="css/indepth-page.css" rel="stylesheet">

</head>

<body>
	<div class="col-12 col-sm-10 col-lg-8 col-xl-6 text-center mx-auto">
		<div class="d-flex align-items-center justify-content-center py-3 mx-2">
			<span class="fa-stack fa-2x">
				<i class="far fa-circle fa-stack-2x fas-btn"></i>
				<i class="fas fa-puzzle-piece fa-stack-1x fix-dim-puzzle fas-btn"></i>
			</span>
			<h1 class="font-weight-bolder paired" th:text="#{indepth.title}"></h1>
		</div>
		<h4 class="text-center mx-4 small-h4" th:text="#{indepth.subtitle}"></h4>
		
		<div class="col-8 mx-auto">
			<button type="button" class="btn btn-link" data-toggle="collapse" data-target="#scenarioDesc" aria-expanded="false" aria-controls="scenarioDesc" th:inline="text">
				[[#{match.scenario-description}]]
				<div class="chevron-scenario">
					<i class="fas fa-chevron-right"></i>
				</div>
		    </button>
			
			<div id="scenarioDesc" class="collapse mb-2" aria-labelledby="scenarioDesc">
	      		<div class="col-12 mx-auto py-2" th:text="${scenarioDescription}">
		      	</div>
		    </div>
			
		</div><br>
		
		<form action="/saveThoughts" th:object="${match}" method="post" class="range-field" id="matchForm">
			
			<input type="hidden" th:field="*{idMatch}">
			<input type="hidden" th:field="*{visionChallenger}">
			
			<div id='visionInfo'>
				<div id='imageDiv'>
					<img id="matchedPic" th:src="${match.visionChallenger.img}"/>
				</div>
				<div class="mt-3" id='keywordDiv'>
					<h4 class="text-center pb-3 mx-4 small-h4" th:text="#{indepth.keywords}"></h4>
					<ul class = "list-group text-center">
						<li class = "list-group-item ellipsis" th:each='vk : ${match.visionChallenger.keywordCollection}' th:text="${vk.keyword.keyword}"></li>
					</ul>
				</div>
			</div>
		
			<input type="hidden" th:field="*{firstDimGuess}">
			<input type="hidden" th:field="*{secondDimGuess}">
			
			<div id='challengerVision' class="my-3">
				<h4 class="text-center small-h4" th:text="#{indepth.opinion}"></h4>
				<h4 class="small-h4" th:text="${firstDimName}"></h4>
				<div class="d-flex justify-content-center align-content-center my-4 divSlider">
					<div class="col-11">
						<input id="pNChallenger" class="border-0 slider-green" type="range" min="1" max="5" step="1" th:field="*{visionChallenger.firstDim}" disabled="true"/>
						<div class="sliderticks mt-2 font-weight-bold">
							<p>1</p>
							<p>2</p>
							<p>3</p>
							<p>4</p>
							<p>5</p>
						</div>
					</div>
				</div>
				
				<!-- Disruptive Incremental Challenger -->
				<h4 class="small-h4" th:text="${secondDimName}"></h4>
				<div class="d-flex justify-content-center align-content-center my-4 divSlider">
					<div class="col-11">
						<input id="dIChallenger" class="border-0 slider-green" type="range" min="1" max="5" step="1" th:field="*{visionChallenger.secondDim}" disabled="true"/>
						<div class="sliderticks mt-2 font-weight-bold">
							<p>1</p>
							<p>2</p>
							<p>3</p>
							<p>4</p>
							<p>5</p>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<h4 class="text-center small-h4" th:text="#{indepth.challenger-opinion}"></h4>
				    <textarea class="description-form form-control" th:text="${match.visionChallenger.description}" disabled></textarea>
			    </div>
			    
			    <div class="row -flex align-items-center justify-content-center pb-3 mx-3">
					<span class="fa-stack fa-2x col-12 col-lg-2 mb-2">
						<i class="far fa-circle fa-stack-2x fas-btn"></i>
						<i class="fas fa-comment fa-stack-1x fas-btn"></i>
					</span>
					<h4 class="font-weight-bolder small-h4 paired col-12 col-lg-8" th:text="#{indepth.think}"></h4>
				</div>
			    
			    <div class="form-group">
				    <textarea class="input-form form-control" oninput="auto_grow(this)" th:field="*{thoughts}" th:placeholder="#{indepth.think-placeholder}"></textarea>
			    </div>
			    
			    <input type="hidden" value="" name="button-pressed-indepth" id="button-pressed-indepth">
			    
			    <div>
				    <button type="button" class="btn btn-primary btn-xl rounded-pill mt-3 mb-1 mx-1" id="check-button" disabled>
						<div class="d-flex align-items-center">
							<i class="fas fa-2x fa-check"></i>
							<span class="ml-2" th:text="#{indepth.button-submit}"></span>
						</div>
					</button>
				</div>
				
				<div th:if="${!goToInDepth and played}">
					<button type="button" class="btn btn-primary btn-xl rounded-pill mt-3 mb-1 mx-2" id="end-button">
						<div class="d-flex align-items-center">
							<i class="fas fa-2x fa-newspaper"></i>
							<span class="ml-2" th:text="#{indepth.button-feed}"></span>
						</div>
					</button>
				</div>
			</div>
		</form>
	</div>
	
	<input type="hidden" th:value="${firstTime}" id="firstTime">
	
	<div id="firstTimeInfoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredScrollableTitle" style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="firstTimeInfoModalTitle" th:text="#{indepth.intro-title}"></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<p th:text="#{indepth.intro-msg1}"></p>
					<p th:text="#{indepth.intro-msg2}"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal" th:text="#{tutorial.confirm-button}"></button>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript"
		src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript"
		src="/webjars/popper.js/1.14.1/umd/popper.min.js"></script>
	<script type="text/javascript"
		src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/in-depth.js"></script>
</body>

</html>
