<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title th:text="#{login.main-title}"></title>
<link rel="icon" 
      type="image/png" 
      href="appimg/Logo-Fav.png">
<link href="/fontawesome-free/css/all.css" rel="stylesheet">
<link href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
	rel="stylesheet">
<link rel="stylesheet" href="css/login-page.css">
<link rel="stylesheet" href="css/all.css">

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
</head>

<body>
	<div class="page-content">
		<header class="masthead text-center text-white">
			<div class="header-content">
				<img class="img-fluid col-11 col-sm-7 col-lg-4 col-md-7 mb-4" src="../appimg/Logo-trigger.png"/>
				<img class="img-fluid col-6 col-sm-3 col-lg-2 col-md-3 mb-4" src="../appimg/Logo-cocteau.png"/>
			</div>
		</header>
		
		<div class="waves uncode-divider-wrap uncode-divider-wrap-bottom z_index_3">
			<svg version="1.1" class="uncode-row-divider uncode-row-divider-swoosh-opacity" x="0px" y="0px" width="100%" height="20%" viewBox="0 0 240 24" enable-background="new 0 0 240 24" preserveAspectRatio="none">
			<path fill="#efefef" fill-opacity="0.33" d="M240,24V0c-51.797,0-69.883,13.18-94.707,15.59c-24.691,2.4-43.872-1.17-63.765-1.08
				c-19.17,0.1-31.196,3.65-51.309,6.58C15.552,23.21,4.321,22.471,0,22.01V24H240z"></path>
			<path fill="#efefef" fill-opacity="0.33" d="M240,24V2.21c-51.797,0-69.883,11.96-94.707,14.16
				c-24.691,2.149-43.872-1.08-63.765-1.021c-19.17,0.069-31.196,3.311-51.309,5.971C15.552,23.23,4.321,22.58,0,22.189V24h239.766H240
				z"></path>
			<path fill="#efefef" d="M240,24V3.72c-51.797,0-69.883,11.64-94.707,14.021c-24.691,2.359-43.872-3.25-63.765-3.17
				c-19.17,0.109-31.196,3.6-51.309,6.529C15.552,23.209,4.321,22.47,0,22.029V24H240z"></path>
			</svg>
		</div>
		
		<section class="container lang_buttons pb-2">
			<div class="row d-flex justify-content-center mt-4 mx-auto col-lg-12">
				<form action="/login" method="post" th:object="${newUser}" id="login_form">
					<h1 class="masthead-subheading mb-0 font-weight-bolder small-h4 text-center mb-3" th:text="#{login.subtitle}"></h1>
					<div class="row justify-content-center">
						<table class="justify-content-center col-12 col-sm-9 mt-2">
							<tr class="form-group">
								<td>
									<h5 class="pt-1 pr-1 pl-1 pb-3 no-margin" th:text="#{login.username}"></h5>
								</td>
								<td>
									<input class="mb-2" type="text" th:field="*{username}" required>
								</td>
							</tr>
							<tr class="form-group" th:classappend="${#fields.hasErrors('password')}? has-error">
								<td>
									<h5 class="pt-1 pr-1 pl-1 pb-3 no-margin" th:text="#{login.password}"></h5>
								</td>
								<td>
									<input class="mb-2" type="password" th:field="*{password}" required>
								</td>
							</tr>
						</table>
						<div class="col-12 col-sm-3 text-center mt-2">
							<button class="btn btn-primary perfect-rounded-circle-small">
								<i class="fas fa-sign-in-alt fa-3x"></i>
							</button>
						</div>
					</div>
					
					<div th:if="${#fields.hasErrors('password')}" class="form-error text-center">
				 		<span th:errors="*{password}" class="text-danger"></span>
				 	</div>
				</form>
			</div>
		</section>
	</div>
	
	<div id="lang" th:text="#{lang}" style="display:none"></div>
	
	<footer class="pt-3 pb-4 bg-black">
		<div class="container text-center">
			<h4 class="m-0 text-center small show-sm-screen inform">
				<a href="gdpr/cocteau-privacy-notice.pdf" target="_blank" class="inform" th:text="#{index.treatment-sm}"></a> - 
				<a href="https://trigger-project.eu/" target="_blank" class="inform" th:text="#{index.trigger-project}"></a> -
				<a href="about" class="inform">About</a>
			</h4>
			<h4 class="m-0 text-center small show-lg-screen inform">
				<a href="gdpr/cocteau-privacy-notice.pdf" target="_blank" class="inform" th:text="#{index.treatment-lg}"></a> - 
				<a href="https://trigger-project.eu/" target="_blank" class="inform" th:text="#{index.trigger-project}"></a> -
				<a href="about" class="inform">About</a>
			</h4>
		</div>
	</footer>
	
	<div class="modal" tabindex="-1" role="dialog">
	  	<div class="modal-dialog" role="document">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<h5 class="modal-title" th:text="#{index.cookie-error-modal-title}"></h5>
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          			<span aria-hidden="true">&times;</span>
	        		</button>
	      		</div>
		      	<div class="modal-body">
		        	<p th:text="#{index.cookie-error-modal-text}"></p>
		      	</div>
		      	<div class="modal-footer">
		        	<button type="button" class="btn btn-primary" data-dismiss="modal" th:text="#{index.cookie-error-modal-button}"></button>
		      	</div>
    		</div>
	  	</div>
	</div>
	
	<script type="text/javascript"
		src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript"
		src="/webjars/popper.js/1.14.1/umd/popper.min.js"></script>
	<script type="text/javascript"
		src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
	<script type="module" src="/js/js.cookie.js"></script>
	<script type="text/javascript" src="/js/login.js"></script>
</body>

</html>
