<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title th:text="#{quiz-management.main-title}"></title>
<link rel="icon" 
      type="image/png" 
      href="appimg/Logo-Fav.png">

<link href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css"
	rel="stylesheet">
<link href="/fontawesome-free/css/all.css" rel="stylesheet">
<link href="css/all.css" rel="stylesheet">
<link href="css/scenario-creation-page.css" rel="stylesheet">

</head>

<body>

	<div class="page-content">
		<header class="masthead text-center text-white">
			<div class="header-content">
				<div class="masthead-content">
					<div class="container mb-3">
						<h1 class="masthead-heading mb-0 font-weight-bolder" th:text="#{quiz-management.title}"></h1>
					</div>
				</div>
			</div>
		</header>
		
		<div class="waves uncode-divider-wrap uncode-divider-wrap-bottom z_index_3">
			<svg version="1.1" class="uncode-row-divider uncode-row-divider-swoosh-opacity" x="0px" y="0px" width="100%" height="20%" viewBox="0 0 240 24" enable-background="new 0 0 240 24" preserveAspectRatio="none">
			<path fill="#efefef" fill-opacity="0.33" d="M240,24V0c-51.797,0-69.883,13.18-94.707,15.59c-24.691,2.4-43.872-1.17-63.765-1.08
				c-19.17,0.1-31.196,3.65-51.309,6.58C15.552,23.21,4.321,22.471,0,22.01V24H240z"></path>
			<path fill="#efefef" fill-opacity="0.33" d="M240,24V2.21c-51.797,0-69.883,11.96-94.707,14.16
				c-24.691,2.149-43.872-1.08-63.765-1.021c-19.17,0.069-31.196,3.311-51.309,5.971C15.552,23.23,4.321,22.58,0,22.189V24h239.766H240
				z"></path>
			<path fill="#efefef" d="M240,24V3.72c-51.797,0-69.883,11.64-94.707,14.021c-24.691,2.359-43.872-3.25-63.765-3.17
				c-19.17,0.109-31.196,3.6-51.309,6.529C15.552,23.209,4.321,22.47,0,22.029V24H240z"></path>
			</svg>
		</div>
		
		<section class="py-2">
			<div class="container">
				<div class="row">
					<div class="container bd-highlight mx-auto col-8" id="questionFormButtons">
						<form action="/submit-questions" method="post" id="questionForm">
							<input type="hidden" th:value="${scenarioId}" name="scenarioId">
							<label for="question1" id="labelquestion1" th:text="#{quiz-management.question-1}"></label>
							<input type="text" name="question1" class="form-control question" id="question1" placeholder="Question 1" required>
		   	 				<label class="mt-3" for="question2" id="labelquestion1" th:text="#{quiz-management.question-2}"></label>
							<input type="text" name="question2" class="form-control question" id="question2" placeholder="Question 2" required>
		   	 				<label class="mt-3" for="question3" id="labelquestion1" th:text="#{quiz-management.question-3}"></label>
							<input type="text" name="question3" class="form-control question" id="question3" placeholder="Question 3" required>
						</form>
					</div>
					<div class="col-4 mt-4">
						<div id="new-question-button">
							<button type="button" class="btn btn-primary col-12 mb-3" id="newQuestion" th:text="#{quiz-management.new-question}"></button>
						</div>
						<div id="remove-question-button">
						</div>
						<button class="btn btn-success col-12 mb-3" form="questionForm" th:text="#{quiz-management.submit-question}"></button>
						<button type="submit" class="btn btn-danger col-12" form="backForm" th:text="#{scenario-edit.back}"></button>
						<form action="/scenario-panel" method="get" id="backForm">
							
						</form>
					</div>
					
				</div>
			</div>
		</section>
	</div>
	
	<div id="lang" th:text="#{lang}" style="display:none"></div>
	
	<footer class="pt-3 pb-4 bg-black">
	</footer>
	
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript"
		src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript"
		src="/webjars/popper.js/1.14.1/umd/popper.min.js"></script>
	<script type="text/javascript"
		src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/quiz-management.js"></script>
</body>

</html>
