<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title th:text="#{scenario.main-title}"></title>
<link rel="icon" 
      type="image/png" 
      href="appimg/Logo-Fav.png">

<link href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css"
	rel="stylesheet">
<link href="/fontawesome-free/css/all.css" rel="stylesheet">
<link href="css/all.css" rel="stylesheet">
<link href="css/scenario-page.css" rel="stylesheet">

</head>

<body>
	<div class="modal fade" tabindex="-1" role="dialog" id="scenarioModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
	        	<div class="modal-header">
	        		<h5 class="modal-title"></h5>
	        			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          				<span aria-hidden="true">×</span>
	          			</button>
	        	</div>
	        	<div class="modal-body">
		          	<div class="description">
		          	</div>
		          	
		          	<form action="/quiz" method="post" id="quiz">
						<input type="hidden" name="scenarioId" id="scenarioIdQuiz" value="">
						<input type="hidden" name="lang" th:value="${lang}">
					</form>
					<form action='/feelings' method='post' id="feelings">
						<input type="hidden" name="scenarioId" id="scenarioIdFeel" value="">
					</form>
					<form action='/vision' method='post' id="vision">
						<input type="hidden" name="scenarioId" id="scenarioIdVision" value="">
					</form>
					<form action='/match' method='post' id="match">
						<input type="hidden" name="scenarioId" id="scenarioIdMatch" value="">
					</form>
					<form action='/feed' method='post' id="feed">
						<input type="hidden" value="0" id="limit" name="limit">
						<input type="hidden" name="scenarioId" id="scenarioIdFeed" value="">
					</form>
					
	        	</div>
		        <div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{scenario.modal-close}"></button>
					<button class="btn btn-primary next-page" form=""></button>
		        </div>
			</div>
	    </div>
  	</div>

	<div class="mt-2 mb-3">
		<div class="text-center">
			
			<!-- Header -->
			<div class="d-flex align-items-center justify-content-center my-3">
				<span class="fa-stack fa-2x">
					<i class="far fa-circle fa-stack-2x fas-btn"></i>
					<i class="fas fa-home fa-stack-1x fas-btn"></i>
				</span>
				<h1 class="font-weight-bolder paired" th:text="#{scenario.title}"></h1>
			</div>
			<h4 class="text-center mx-3 small-h4 mb-3" th:text="#{scenario.subtitle}"></h4>
			
			<div class="container bd-highlight mx-auto" th:if="${#lists.size(scenarios) > 0}">
				<div id="scenarioCarousel" class="carousel narrative-title-text slide carousel-reshape col-12 p-0" data-ride="carousel" data-interval="false">
					<div class="carousel-inner carousel-reshape">
						<div th:each="narrative, i : ${narratives}" class="carousel-item carousel-reshape" th:classappend="${i.index == 0}? 'active' : ''" th:data-narr="${narrative.idNarrative}">
				    		<!-- <img th:if="${#lists.size(narrative.scenarios) > 0}" class="d-block w-100" src="/appimg/covid-carousel-test.jpg" alt="First slide"> -->
					    	<div th:if="${#lists.size(narrative.scenarios) > 0}" class="carousel-caption">
   								<h4 class="m-0 small-h4 font-weight-bold adaptive-color" th:text="${narrative.name}"></h4>
   							</div>
					  	</div>
					</div>
					<a th:if="${#lists.size(narratives) > 1}" class="carousel-control-prev pl-2" href="#scenarioCarousel" role="button" data-slide="prev">
					  	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					  	<span class="sr-only">Previous</span>
					</a>
					<a th:if="${#lists.size(narratives) > 1}" class="carousel-control-next pr-2" href="#scenarioCarousel" role="button" data-slide="next">
					  	<span class="carousel-control-next-icon" aria-hidden="true"></span>
					  	<span class="sr-only">Next</span>
					</a>
				</div>
			
				<div class="row justify-content-center" th:insert="fragments/scenario-fragment-group.html :: content" th:with="scenarios=${scenarios}" id="scenarioList">
				</div>
			</div>
			
			<div class="container bd-highlight mx-auto" th:unless="${#lists.size(scenarios) > 0}">
				<th:block th:each="narrative: ${narratives}">
					<div class="small-h4 ellipsis narrative-title-text py-2 px-3 mx-auto col-12" th:text="#{scenario.no-available}">
					</div>
				</th:block>
			</div>
			
			<div class="mb-4">
				<input type="hidden" id="langModalMsg" th:value="#{lang}">
			</div>
		</div>
	</div>
	
	<!-- Home button -->
	<div class="d-flex flex-column justify-content-center" id="homeButton">
		<div id="homeButtonDescription" th:text="#{scenario.home-button}">
			
		</div>
		
		<div class="d-flex justify-content-center">
			<a th:href="@{'/?lang=' + #{lang}}">
				<button class="btn btn-success btn-circle btn-xl mt-1" id="homeButtonPad">
					<i class="fas fa-2x fa-home"></i>
				</button>
			</a>
		</div>
	</div>
	
	<div class="d-flex flex-column justify-content-center" id="profileButton">
		<div id="profileButtonDescription" th:text="#{scenario.profile}">
			
		</div>
		
		<div class="d-flex justify-content-center">
			<form action="/profile" method="POST" id="toProfile">
				<input type="hidden" th:value="${user.entryNumber}" name="userEntry">
				<input type="hidden" value="scenario" name="from">
			</form>
			<button class="btn btn-success btn-circle btn-xl mt-1" id="profileButtonPad" form="toProfile">
				<i class="fas fa-2x fa-user"></i>
			</button>
		</div>
	</div>
	
	<input type="hidden" th:value="${firstTime}" id="firstTime">
	
	<div id="firstTimeInfoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredScrollableTitle" style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="firstTimeInfoModalTitle" th:text="#{scenario.intro-title}"></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<p th:utext="#{scenario.intro-msg1}"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal" th:text="#{tutorial.confirm-button}"></button>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript"
		src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript"
		src="/webjars/popper.js/1.14.1/umd/popper.min.js"></script>
	<script type="text/javascript"
		src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
		
	<script type="text/javascript" src="/js/scenario.js"></script>
	
</body>

</html>
