<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title th:text="#{scenario-panel.main-title}"></title>
<link rel="icon" 
      type="image/png" 
      href="appimg/Logo-Fav.png">
      
<link href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css"
	rel="stylesheet">

<link
	href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link rel="stylesheet" href="css/scenario-panel-page.css">
<link rel="stylesheet" href="css/all.css">
</head>

<body>
	<div class="page-content">
		<header class="masthead text-center text-white">
			<div class="header-content">
				<div class="masthead-content">
					<div class="container mb-3">
						<h1 class="masthead-heading mb-0 font-weight-bolder" th:text="#{scenario-panel.title}"></h1>
					</div>
				</div>
			</div>
		</header>
		
		<div class="waves uncode-divider-wrap uncode-divider-wrap-bottom z_index_3">
			<svg version="1.1" class="uncode-row-divider uncode-row-divider-swoosh-opacity" x="0px" y="0px" width="100%" height="20%" viewBox="0 0 240 24" enable-background="new 0 0 240 24" preserveAspectRatio="none">
			<path fill="#efefef" fill-opacity="0.33" d="M240,24V0c-51.797,0-69.883,13.18-94.707,15.59c-24.691,2.4-43.872-1.17-63.765-1.08
				c-19.17,0.1-31.196,3.65-51.309,6.58C15.552,23.21,4.321,22.471,0,22.01V24H240z"></path>
			<path fill="#efefef" fill-opacity="0.33" d="M240,24V2.21c-51.797,0-69.883,11.96-94.707,14.16
				c-24.691,2.149-43.872-1.08-63.765-1.021c-19.17,0.069-31.196,3.311-51.309,5.971C15.552,23.23,4.321,22.58,0,22.189V24h239.766H240
				z"></path>
			<path fill="#efefef" d="M240,24V3.72c-51.797,0-69.883,11.64-94.707,14.021c-24.691,2.359-43.872-3.25-63.765-3.17
				c-19.17,0.109-31.196,3.6-51.309,6.529C15.552,23.209,4.321,22.47,0,22.029V24H240z"></path>
			</svg>
		</div>
		
		<section class="pb-2 mt-3">
			<div class="container">
				<div class="row justify-content-center">
					<form action="/scenario-management" method="get" id="s-edit-form"></form>
					<button type="submit" form="s-edit-form" class="btn btn-info col-12 col-sm-4 my-2 mx-2" id="createNewScenario" th:text="#{scenario-panel.create-scenario}"></button>
					<form th:if="${isRoot}" action="/create-admin" method="get" id="s-create-admin"></form>
					<button th:if="${isRoot}" type="submit" form="s-create-admin" class="btn btn-info col-12 col-sm-4 my-2 mx-2" id="createAdmin" th:text="#{scenario-panel.create-admin}"></button>
					<form action="/scenario-deleted" method="post" id="s-deleted"></form>
					<button type="submit" form="s-deleted" class="btn btn-warning col-12 col-sm-4 my-2 mx-2" id="getDeletedScenarios" th:text="#{scenario-panel.deleted-scenarios}"></button>
					<form action="/admin-logout" method="post" id="s-admin-logout"></form>
					<button type="submit" form="s-admin-logout" class="btn btn-danger col-12 col-sm-4 my-2 mx-2" id="adminLogout" th:text="#{scenario-panel.admin-logout}"></button>
				</div>
			</div>
		</section>
		
		<section class="scenarios-lists pb-2">
			<div class="container">
				<div class="row">
					<div class="list-group col-6 mx-auto" id="draft-scenarios">
						<h4 th:text="#{scenario-panel.title-draft}"></h4>
						<th:block th:each="scenario: ${scenarios}" th:object="${scenario}" th:if="${scenario.published} == false">
							<button type="button" class="list-group-item list-group-item-action scenario-btn" th:text="*{title + ' - ' + lang.toUpperCase()}" 
							th:data-sid="*{idScenario}" th:data-title="*{title}" th:data-desc="*{description}" th:data-status="*{published}"></button>
						</th:block>
					</div>
					
					<div class="list-group col-6 mx-auto" id="publish-scenarios">
						<h4 th:text="#{scenario-panel.title-published}"></h4>
						<th:block th:each="scenario: ${scenarios}" th:object="${scenario}" th:if="${scenario.published} == true">
							<button type="button" class="list-group-item list-group-item-action scenario-btn" th:text="*{title + ' - ' + lang.toUpperCase()}" 
							th:data-sid="*{idScenario}" th:data-title="*{title}" th:data-desc="*{description}" th:data-status="*{published}"></button>
						</th:block>
					</div>
				</div>
			</div>
		</section>
		
		<section class="py-2" id="scenario-details">
			<div class="container">
				<div class="row">
					<div class="col-8">
						<h4 th:text="#{scenario-panel.scenario-details}"></h4>
						<h5 th:text="#{scenario-panel.scenario-title}"></h5>
						<h5 class="small-h5" id="scenario-title"></h5>
						<h5 th:text="#{scenario-panel.scenario-description}"></h5>
						<h5 class="small-h5" id="scenario-description"></h5>
						<h5 th:text="#{scenario-panel.scenario-statements}" id="scenario-statements-title"></h5>
						<h5 class="small-h5" id="scenario-statements"></h5>
						<h5 th:text="#{scenario-panel.scenario-ref-codes}" id="sc-ref-codes-h5"></h5>
						<div id="ref-codes-div"></div>
					</div>
					<div id="scenario-actions" class="col-4">
						<h5 class="my-2" th:text="#{scenario-panel.scenario-actions}"></h5>
						<form action="/scenario-edit" method="post" id="s-edit-form">
							<input type="hidden" name="selectedScenario" id="selected-edit">
							<input type="submit" class="btn btn-info col-12 my-2" id="s-edit" th:value="#{scenario-panel.scenario-actions-edit}">
						</form>
						<div id="publish-scenario-div">
							<form action="/publishScenario" method="post" id="s-publish-form">
								<input type="hidden" name="selectedScenario" id="selected-publish">
								<input type="submit" class="btn btn-success col-12 my-2" id="s-publish" th:value="#{scenario-panel.scenario-actions-publish}">
							</form>
						</div>
						<div id="quiz-creation-div"></div>
						<form action="/vision-management" method="post" id="s-create-visions">
							<input type="hidden" name="selectedScenario" id="selected-vision">
							<input type="submit" class="btn btn-success col-12 my-2" id="s-vision" th:value="#{scenario-panel.scenario-actions-vision}">
						</form>
						<form action="/hideScenario" method="post" id="s-hide-form">
							<input type="hidden" name="selectedScenario" id="selected-hide">
							<input type="submit" class="btn btn-warning col-12 my-2" id="s-hide" th:value="#{scenario-panel.scenario-actions-hide}">
						</form>
						<form action="/get-data" method="get">
							<input type="hidden" name="idScenario" id="selected-download">
							<input type="submit" class="btn btn-info col-12 my-2" th:value="#{scenario-panel.scenario-actions-getData}">
						</form>
						<form action="/deleteScenario" method="post" id="s-delete-form">
							<input type="hidden" name="selectedScenario" id="selected-delete">
						</form>
						<button type="button" class="btn btn-danger col-12 my-2" id="s-delete" th:text="#{scenario-panel.scenario-actions-delete}"
								data-toggle="modal" data-target="#deleteScenarioModal"></button>
					</div>
				</div>
			</div>
		</section>
	</div>
	
	<div id="lang" th:text="#{lang}" style="display:none"></div>
	
	<footer class="pt-3 pb-4 bg-black">
	</footer>
	
	<!-- Modal -->
	<div class="modal fade" id="deleteScenarioModal" tabindex="-1" role="dialog" aria-labelledby="deleteScenarioModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteScenarioModalLabel" th:text="#{scenario-panel.deleted-modal-title}"></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" th:text="#{scenario-panel.deleted-model-body}"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{scenario-panel.deleted-cancel-button}"></button>
					<button type="submit" form="s-delete-form" class="btn btn-danger" th:text="#{scenario-panel.deleted-confirm-button}"></button>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript"
		src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript"
		src="/webjars/popper.js/1.14.1/umd/popper.min.js"></script>
	<script type="text/javascript"
		src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
	<script type="module" src="/js/js.cookie.js"></script>
	<script type="text/javascript" src="/js/scenario-panel.js"></script>

</body>

</html>
