<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title th:text="#{userinfo.main-title}"></title>
<link rel="icon" 
      type="image/png" 
      href="appimg/Logo-Fav.png">

<link href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css"
	rel="stylesheet">

<link href="css/userinfo-page.css" rel="stylesheet">
<link href="css/all.css" rel="stylesheet">
</head>

<body>
	<div class="row h-100">
		<div class="text-center col-sm-12">
			<div class="white-bg pt-4">
				<h1 class="mb-3 small-h1 font-weight-bolder mx-2" th:text="#{userinfo.title}"></h1>
				<h5 class="col-10 mb-2 mx-auto" th:utext="#{userinfo.disclaimer}"></h5>
				
				<div class="uncode-divider-wrap uncode-divider-wrap-bottom z_index_3 white-bg">
					<svg version="1.1" class="uncode-row-divider uncode-row-divider-swoosh-opacity" x="0px" y="0px" width="100%" height="20%" viewBox="0 0 240 24" enable-background="new 0 0 240 24" preserveAspectRatio="none">
					<path fill="#efefef" fill-opacity="0.33" d="M240,24V0c-51.797,0-69.883,13.18-94.707,15.59c-24.691,2.4-43.872-1.17-63.765-1.08
						c-19.17,0.1-31.196,3.65-51.309,6.58C15.552,23.21,4.321,22.471,0,22.01V24H240z"></path>
					<path fill="#efefef" fill-opacity="0.33" d="M240,24V2.21c-51.797,0-69.883,11.96-94.707,14.16
						c-24.691,2.149-43.872-1.08-63.765-1.021c-19.17,0.069-31.196,3.311-51.309,5.971C15.552,23.23,4.321,22.58,0,22.189V24h239.766H240
						z"></path>
					<path fill="#efefef" d="M240,24V3.72c-51.797,0-69.883,11.64-94.707,14.021c-24.691,2.359-43.872-3.25-63.765-3.17
						c-19.17,0.109-31.196,3.6-51.309,6.529C15.552,23.209,4.321,22.47,0,22.029V24H240z"></path>
					</svg>
				</div>
			</div>
			
			<div class="grey-background">
				<form action="/saveInfo" method="post" id="dataInfo">
					<input type="hidden" th:value="${lang}" name="lang">
					<table class="col-12">
						<tr>
							<td class="py-3 text-right">
								<label for="nationality" class="mx-3" th:text="#{userinfo.nationality}"></label>
							</td>
							<td class="py-3">
								<select class="form-control col-11 col-sm-8 col-md-6 col-lg-5" id="nationalitySelection" name="nationality">
									<option id="firstOption" value="NULL" th:text="#{userinfo.nationality}"></option>
									<option value="Eu" th:text="#{userinfo.europe}"></option>
									<option value="Non-Eu" th:text="#{userinfo.extra-europe}"></option>
								</select>
							</td>
							<td id="empty">
							</td>
						</tr>
						<tr id="countryRow">
							<td class="py-3 text-right">
								<label for="country" class="mx-3" th:text="#{userinfo.contry}"></label>
							</td>
							<td class="py-3">
								<select class="form-control col-11 col-sm-8 col-md-6 col-lg-5" id="countrySelection" name="country">
									<option value="NULL" th:text="#{userinfo.contry}"></option>
								    <option value="AL" th:text="#{userinfo.country-AL}"></option>
									<option value="AD" th:text="#{userinfo.country-AD}"></option>
									<option value="AT" th:text="#{userinfo.country-AT}"></option>
									<option value="BY" th:text="#{userinfo.country-BY}"></option>
									<option value="BE" th:text="#{userinfo.country-BE}"></option>
									<option value="BA" th:text="#{userinfo.country-BA}"></option>
									<option value="BG" th:text="#{userinfo.country-BG}"></option>
									<option value="HR" th:text="#{userinfo.country-HR}"></option>
									<option value="CY" th:text="#{userinfo.country-CY}"></option>
									<option value="CZ" th:text="#{userinfo.country-CZ}"></option>
									<option value="DK" th:text="#{userinfo.country-DK}"></option>
									<option value="EE" th:text="#{userinfo.country-EE}"></option>
									<option value="FO" th:text="#{userinfo.country-FO}"></option>
									<option value="FI" th:text="#{userinfo.country-FI}"></option>
									<option value="FR" th:text="#{userinfo.country-FR}"></option>
									<option value="DE" th:text="#{userinfo.country-DE}"></option>
									<option value="GI" th:text="#{userinfo.country-GI}"></option>
									<option value="GR" th:text="#{userinfo.country-GR}"></option>
									<option value="GL" th:text="#{userinfo.country-GL}"></option>
									<option value="VA" th:text="#{userinfo.country-VA}"></option>
									<option value="HU" th:text="#{userinfo.country-HU}"></option>
									<option value="IS" th:text="#{userinfo.country-IS}"></option>
									<option value="IE" th:text="#{userinfo.country-IE}"></option>
									<option value="IT" th:text="#{userinfo.country-IT}"></option>
									<option value="LV" th:text="#{userinfo.country-LV}"></option>
									<option value="LI" th:text="#{userinfo.country-LI}"></option>
									<option value="LT" th:text="#{userinfo.country-LT}"></option>
									<option value="LU" th:text="#{userinfo.country-LU}"></option>
									<option value="MK" th:text="#{userinfo.country-MK}"></option>
									<option value="MT" th:text="#{userinfo.country-MT}"></option>
									<option value="MD" th:text="#{userinfo.country-MD}"></option>
									<option value="MC" th:text="#{userinfo.country-MC}"></option>
									<option value="ME" th:text="#{userinfo.country-ME}"></option>
									<option value="NL" th:text="#{userinfo.country-NL}"></option>
									<option value="NO" th:text="#{userinfo.country-NO}"></option>
									<option value="PL" th:text="#{userinfo.country-PL}"></option>
									<option value="PT" th:text="#{userinfo.country-PT}"></option>
									<option value="RO" th:text="#{userinfo.country-RO}"></option>
									<option value="SM" th:text="#{userinfo.country-SM}"></option>
									<option value="RS" th:text="#{userinfo.country-RS}"></option>
									<option value="SK" th:text="#{userinfo.country-SK}"></option>
									<option value="SI" th:text="#{userinfo.country-SI}"></option>
									<option value="ES" th:text="#{userinfo.country-ES}"></option>
									<option value="SJ" th:text="#{userinfo.country-SJ}"></option>
									<option value="SE" th:text="#{userinfo.country-SE}"></option>
									<option value="CH" th:text="#{userinfo.country-CH}"></option>
									<option value="TR" th:text="#{userinfo.country-TR}"></option>
									<option value="UA" th:text="#{userinfo.country-UA}"></option>
									<option value="GB" th:text="#{userinfo.country-GB}"></option>
								</select>
							</td>
							<td id="empty">
							</td>
						</tr>
						<tr id="regionRow">
							<td class="py-3 text-right">
								<label for="country" class="mx-3" th:text="#{userinfo.region}"></label>
							</td>
							<td class="py-3">
								<select class="form-control col-11 col-sm-8 col-md-6 col-lg-5" id="regionSelection" name="region">
									<option value="NULL" th:text="#{userinfo.region}"></option>
									<option value="AF" th:text="#{userinfo.AF}"></option>
									<option value="AS" th:text="#{userinfo.AS}"></option>
									<option value="OC" th:text="#{userinfo.OC}"></option>
		                            <option value="NA" th:text="#{userinfo.NA}"></option>
		                            <option value="SA" th:text="#{userinfo.SA}"></option>
								</select>
							</td>
							<td id="empty">
							</td>
						</tr>
						<tr>
							<td class="py-3 text-right">
								<label class="mx-3" th:text="#{userinfo.gender}"></label>
							</td>
							<td class="py-3 left">
								<div class="form-check form-check-inline">
									<input class="form-check-input big" type="radio" value="M" name="gender">
									<label class="form-check-label mr-3">M</label>
								</div>
								
								<div class="form-check form-check-inline">
									<input class="form-check-input big" type="radio" value="F" name="gender">
									<label class="form-check-label">F</label>
								</div>
								
								<div class="form-check form-check-inline">
									<input class="form-check-input big" type="radio" value="N" name="gender">
									<label class="form-check-label" th:text="#{userinfo.gender-not-say}"></label>
								</div>
							</td>
							<td id="empty">
							</td>
						</tr>
						<tr>
							<td class="py-3 text-right">
								<label for="age" class="mx-3" th:text="#{userinfo.age}"></label>
							</td>
							<td class="py-3">
								<select class="form-control col-11 col-sm-8 col-md-6 col-lg-5" id="ageSelection" name="age">
									<option id="firstOption" value="0" th:text="#{userinfo.age}"></option>
									<option value="1" th:text="#{userinfo.age-under20}"></option>
									<option value="2">21 - 30</option>
									<option value="3">31 - 40</option>
									<option value="4">41 - 50</option>
									<option value="5">51 - 60</option>
									<option value="6">61 - 70</option>
									<option value="7">71 - 80</option>
									<option value="8" th:text="#{userinfo.age-over80}"></option>
									<option value="9" th:text="#{userinfo.gender-not-say}"></option>
								</select>
							</td>
							<td id="empty">
							</td>
						</tr>
						<tr>
							<td class="py-3 text-right">
								<label for="age" class="mx-3" th:text="#{userinfo.education}"></label>
							</td>
							<td class="py-3">
								<select class="form-control col-11 col-sm-8 col-md-6 col-lg-5" id="educationSelection" name="education">
									<option id="firstOptionEdu" value="0" th:text="#{userinfo.education}"></option>
									<option value="1" th:text="#{userinfo.education-less}"></option>
									<option value="2" th:text="#{userinfo.education-high}"></option>
									<option value="3" th:text="#{userinfo.education-bsc}"></option>
									<option value="4" th:text="#{userinfo.education-msc}"></option>
									<option value="5" th:text="#{userinfo.education-phd}"></option>
									<option value="6" th:text="#{userinfo.gender-not-say}"></option>
								</select>
							</td>
							<td id="empty">
							</td>
						</tr>
						
						<tr>
							<td class="py-3 text-right">
								<label for="age" class="mx-3" th:text="#{userinfo.interest}"></label>
							</td>
							<td class="py-3">
								<select class="form-control col-11 col-sm-8 col-md-6 col-lg-5" id="interestSelection" name="interest">
									<option id="firstOptionInterest" value="0" th:text="#{userinfo.interest-placeholder}"></option>
									<option value="1" th:text="#{userinfo.interest-no}"></option>
									<option value="2" th:text="#{userinfo.interest-low}"></option>
									<option value="3" th:text="#{userinfo.interest-mid}"></option>
									<option value="4" th:text="#{userinfo.interest-high}"></option>
									<option value="5" th:text="#{userinfo.interest-great}"></option>
									<option value="6" th:text="#{userinfo.gender-not-say}"></option>
								</select>
							</td>
							<td id="empty">
							</td>
						</tr>
						
						<tr>
							<td class="py-3 px-4" colspan="3">
								<span th:utext="#{userinfo.mail}"></span>
							</td>
						</tr>
						<tr>
							<td class="pb-3" colspan="3">
								<input class="form-control col-7 col-md-5 col-lg-4 text-center mx-auto" type="email" th:placeholder="#{userinfo.your-email}" name="mail">
							</td>
						</tr>
					</table>
				</form>
				
				<div class = "d-flex justify-content-center pb-2">
					<button type="submit" id="submitKey" form="dataInfo" class="btn btn-primary btn-xl rounded-pill mt-3 mr-3 bttn" th:text="#{userinfo.submit}" disabled></button>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/popper.js/1.14.1/umd/popper.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/userinfo.js"></script>
</body>

</html>
