<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title th:text="#{vision.main-title}"></title>
<link rel="icon" 
      type="image/png" 
      href="appimg/Logo-Fav.png">

<link href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css"
	rel="stylesheet">
<link href="css/all.css" rel="stylesheet">
<link href="css/vision-page.css" rel="stylesheet">
<link href="/fontawesome-free/css/all.css" rel="stylesheet">

</head>

<body>
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel"><span th:text="#{vision.modal-search}"></span></span><a href="https://unsplash.com?utm_source=COCTEAU&utm_medium=referral" target="_blank">Unsplash</a></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				
				<div class="modal-body">
					<div class="d-flex align-items-center" id="search-div">
						<div class="input-group md-form form-sm form-2 pl-0 pr-1">
							<input class="form-control my-0 py-1" type="text" th:placeholder="#{vision.modal-search-on}" aria-label="Search" id="search-keyword">
						  	<div class="input-group-append">
						  	<button class="btn btn-outline-secondary" type="button" id="search-button">
						  		<i class="fas fa-search text-grey" aria-hidden="true"></i>
						  		<span th:text="#{vision.modal-button-search}"></span>
						  	</button>
						  </div>
						</div>
					</div>
					
					<div id="m-body" class="grid mt-2">
							
					</div>
					<div class="text-center">
						<button id="load-more-unsplash" class="btn btn-primary btn-xl rounded-pill mt-3 mx-auto mb-2" style="display: none" th:text="#{vision.modal-button-load}"></button>
					</div>
				</div>
				<div class="modal-body-mask" id="image-mask">
					<p class="mb-2 text-center" th:text="#{vision.modal-keep}"></p>
					<div class="text-center mb-2">
						<span class="text-center mr-3" th:text="#{vision.modal-size}"></span>
			          	<input type="radio" name="multRadio" id="multRadio1x" checked>
			          	<span class="mr-2">1x</span>
				        <input type="radio" name="multRadio" id="multRadio15x">
				        <span  class="mr-2">1.5x</span>
			          	<input type="radio" name="multRadio" id="multRadio2x">
			          	<span>2x</span>
					</div>
					<canvas id='mask-canvas' class="canvas-mask d-block mx-auto mb-2"></canvas>
				</div>
				<div class="modal-footer" id="image-modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{vision.modal-bottom-close}"></button>
					<button type="button" class="btn btn-info search-btn" th:text="#{vision.modal-bottom-search}"></button>
					<button type="button" class="btn btn-primary updatePic" th:text="#{vision.modal-bottom-choose}"></button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal" tabindex="-1" role="dialog" id="change-layout-modal">
	  	<div class="modal-dialog" role="document">
		    <div class="modal-content">
		      	<div class="modal-header">
		        	<h5 class="modal-title" th:text="#{vision.modal-change-layout-title}"></h5>
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          		<span aria-hidden="true">&times;</span>
		       		</button>
		      	</div>
		      	<div class="modal-body">
		        	<p  th:text="#{vision.modal-change-layout-body}"></p>
		      	</div>
		      	<div class="modal-footer">
		        	<button type="button" class="btn btn-primary" id="change-layout-yes" th:text="#{vision.modal-change-layout-yes}"></button>
		        	<button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{vision.modal-change-layout-no}"></button>
		      	</div>
		    </div>
	  	</div>
	</div>
	
	<div class="d-flex align-items-center justify-content-center my-3">
		<span class="fa-stack fa-2x">
			<i class="far fa-circle fa-stack-2x fas-btn"></i>
			<i class="fas fa-comment-dots fa-stack-1x fas-btn"></i>
		</span>
		<h1 class="text-center h1-small pb-2 pt-3 font-weight-bolder" th:text="#{vision.title}"></h1>
	</div>
	<div class="col-12 col-sm-10 col-lg-8 col-xl-5 text-center mx-auto">
		<div>
			<button type="button" class="btn btn-link" data-toggle="collapse" data-target="#scenarioDesc" aria-expanded="false" aria-controls="scenarioDesc" th:inline="text">
			    [[#{vision.scenario-description}]]
			    <div class="chevron-scenario">
					<i class="fas fa-chevron-right"></i>
				</div>
		    </button>
		</div>
		<div id="scenarioDesc" class="collapse mb-2" aria-labelledby="scenarioDesc">
      		<div class="col-12 mx-auto py-2" th:text="${scenarioDesc}">
	      	</div>
	    </div>
		<h4 class="text-center small-h4 mt-4 mb-2" th:text="#{vision.layout}"></h4>
		<div class="btn-group" role="group" aria-label="Layout buttons" id="layoutGroup">
		  <button type="button" class="btn btn-secondary" id="layout1_btn" data-layout="1" th:text="#{vision.layout-1}"></button>
		  <button type="button" class="btn btn-outline-secondary" id="layout2_btn" data-layout="2" th:text="#{vision.layout-2}"></button>
		  <button type="button" class="btn btn-outline-secondary" id="layout3_btn" data-layout="3" th:text="#{vision.layout-3}"></button>
		</div>
		
			<div class="grid-1 post mx-auto mt-2">
				<div class="item-layout1">
					<div class="item-content layout-element" data-clicked="left" id="left">
						<div class="img-content"><canvas data-pos="0" data-path=""></canvas></div>
					</div>
				</div>
				
				<div class="item-layout1">
					<div class="item-content layout-element" data-clicked="mid" id="mid">
						<div class="img-content"><canvas data-pos="1" data-path=""></canvas></div>
					</div>
				</div>
				
				<div class="item-layout1">
					<div class="item-content layout-element" data-clicked="right" id="right">
						<div class="img-content"><canvas data-pos="2" data-path=""></canvas></div>
					</div>
				</div>
			</div>
		
			<div class="grid-2 post mx-auto mt-2">
				<div class="item-layout2">
					<div class="item-content layout-element" data-clicked="up" id="up">
						<div class="img-content"><canvas data-pos="0" data-path=""></canvas></div>
					</div>
				</div>
				
				<div class="item-layout2">
					<div class="item-content layout-element" data-clicked="center" id="center">
						<div class="img-content"><canvas data-pos="1" data-path=""></canvas></div>
					</div>
				</div>
				
				<div class="item-layout2">
					<div class="item-content layout-element" data-clicked="bottom" id="bottom">
						<div class="img-content"><canvas data-pos="2" data-path=""></canvas></div>
					</div>
				</div>
			</div>
		
			<div class="grid-3 post mx-auto mt-2">
				<div class="item-layout3">
					<div class="item-content layout-element" data-clicked="up-left" id="up-left">
						<div class="img-content"><canvas data-pos="0" data-path=""></canvas></div>
					</div>
				</div>
				
				<div class="item-layout3">
					<div class="item-content layout-element" data-clicked="up-right" id="up-right">
						<div class="img-content"><canvas data-pos="1" data-path=""></canvas></div>
					</div>
				</div>
				
				<div class="item-layout3">
					<div class="item-content layout-element" data-clicked="bottom-left" id="bottom-left">
						<div class="img-content"><canvas data-pos="2" data-path=""></canvas></div>
					</div>
				</div>
				
				<div class="item-layout3">
					<div class="item-content layout-element" data-clicked="bottom-right" id="bottom-right">
						<div class="img-content"><canvas data-pos="3" data-path=""></canvas></div>
					</div>
				</div>
			</div>
		
		<form action="/saveVision" th:object="${vision}" method="post" class="range-field mt-2" id="formVisionInfo">
		
			<input type="hidden" th:value="${scenarioId}" name="scenarioId" id="scenarioId">
			<input type="hidden" th:field="*{scenario}"/>
			<input type="hidden" name="layoutToUse" id="layoutToUse" value="1">
			<input type="hidden" name="picturesList" id="picturesList" value="">
			
			<h4 class="text-center small-h4 mt-4 mb-4" th:text="*{scenario.questionVisionFirst}"></h4>
			
			<h4 class="small-h4" th:text="${firstDimName}"></h4>
			<div class="d-flex justify-content-center align-content-center" id="FirstDimSlider">
				<div class="pr-1 bd-highlight font-weight-bold indigo-text" id="label_first_minus">
					<i class="fas fa-minus-circle fa-2x fa-blue-symbol mb-2"></i>
				</div>
				<div class="col-11">
					<input class="border-0 slider" type="range" min="1" max="5" step="1" th:field="*{firstDim}"/>
					<div class="sliderticks mt-2 font-weight-bold">
						<p>1</p>
						<p>2</p>
						<p>3</p>
						<p>4</p>
						<p>5</p>
					</div>
				</div>
				<div class="pl-1 bd-highlight font-weight-bold indigo-text" id="label_first_plus">
					<i class="fas fa-plus-circle fa-2x fa-blue-symbol"></i>
				</div>
			</div>
			
			<h4 class="small-h4 mt-5" th:text="${secondDimName}"></h4>
			<div class="d-flex justify-content-center align-content-center mb-2 mt-2" id="SecondDimSlider">
				<div class="pr-1 bd-highlight font-weight-bold indigo-text" id="label_second_minus">
					<i class="fas fa-minus-circle fa-2x fa-blue-symbol"></i>
				</div>
				<div class="col-11">
					<input class="border-0 slider" type="range" min="1" max="5" step="1" th:field="*{secondDim}"/>
					<div class="sliderticks mt-2 font-weight-bold">
						<p>1</p>
						<p>2</p>
						<p>3</p>
						<p>4</p>
						<p>5</p>
					</div>
				</div>
				<div class="pl-1 bd-highlight font-weight-bold indigo-text" id="label_second_plus">
					<i class="fas fa-plus-circle fa-2x fa-blue-symbol"></i>
				</div>
			</div>
			
			<div class="mt-5">
				<button type="button" class="btn btn-link" data-toggle="collapse" data-target="#sliderDesc" aria-expanded="false" aria-controls="sliderDesc" th:inline="text">
			    	[[#{vision.slider-collapse}]]
			    	<div class="chevron-sliders">
						<i class="fas fa-chevron-right"></i>
					</div>
			    </button>
			</div>
		    
			<div id="sliderDesc" class="collapse mb-2" aria-labelledby="sliderDesc">
	      		<div class="col-12 mx-auto py-2" th:text="${firstDimDesc}">
		      	</div>
		      	<div class="col-12 mx-auto py-2" th:text="${secondDimDesc}">
		      	</div>
		    </div>
			
			<h4 class="text-center small-h4 mt-4" th:text="#{vision.keywords}">
				
			</h4>
			<input class="form-control mt-3 mb-1" type="text" th:placeholder="#{vision.keyword-placeholder-1}" id="keywordInsertionForm1" th:field="*{keywordStringCollection}">
			<input class="form-control mb-1" type="text" th:placeholder="#{vision.keyword-placeholder-2}" id="keywordInsertionForm2" th:field="*{keywordStringCollection}">
			<input class="form-control mb-2" type="text" th:placeholder="#{vision.keyword-placeholder-3}" id="keywordInsertionForm3" th:field="*{keywordStringCollection}">
			
			<h4 class="text-center small-h4 mt-4" th:text="#{vision.description}"></h4>
			<textarea class="form-control mb-2" th:placeholder="#{vision.think}" rows="4" id="descriptionInsertionForm" th:field="*{description}"></textarea>
			
			<button type="submit" id="submitKey" class="btn btn-primary btn-xl rounded-pill my-3 bttn" th:text="#{vision.button-submit}" disabled></button> 
		</form>
		
		<form action="/feed" th:object="${vision}" method="post" id="toFeed">
			<input type="hidden" th:value="${scenarioId}" name="scenarioId">
		</form>
		
		<button th:if="${played}" class="btn btn-primary btn-xl rounded-pill mb-3" id="end-button" form="toFeed">
			<div class="d-flex align-items-center">
				<i class="fas fa-2x fa-newspaper"></i>
				<span class="ml-2" th:text="#{vision.button-feed}"></span>
			</div>
		</button>
	</div>
	
	<div id="lang" th:text="${lang}" style="display:none"></div>
	
	<input type="hidden" th:value="${firstTime}" id="firstTime">
	
	<div id="firstTimeInfoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredScrollableTitle" style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="firstTimeInfoModalTitle" th:text="#{vision.intro-title}"></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<p th:text="#{vision.intro-msg1}"></p>
					<p th:utext="#{vision.intro-msg2}"></p>
					<p th:utext="#{vision.intro-msg3}"></p>
					<p th:utext="#{vision.intro-msg4}"></p>
					<p th:utext="#{vision.intro-msg5}"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal" th:text="#{tutorial.confirm-button}"></button>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript"
		src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript"
		src="/webjars/popper.js/1.14.1/umd/popper.min.js"></script>
	<script type="text/javascript"
		src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
	<script type="text/javascript"
		src="/js/hammer.min.js"></script>
	<script type="text/javascript"
		src="/js/muuri.js"></script>
	<script type="text/javascript"
		src="/js/post-layout-logic.js"></script>
	<script type="text/javascript"
		src="/js/vision-page-logic.js"></script>
	<script type="text/javascript"
		src="/js/vision-page-canvas.js"></script>
</body>
</html>
